---
openapi: 3.0.2
info:
  title: NFTPort API
  description: NFTPort API version 1.0.0
  version: 1.0.0
  contact:
    name: Johannes Tammekänd, Co-Founder of NFTPort
    email: johannes@nftport.xyz
  x-logo:
    url: https://assets.website-files.com/60f51fac359e025bed0dd19b/60f95e7556f5b3719a346ab1_nftport%20logo.svg
servers:
- url: https://api.nftport.xyz
paths:
  "/v0/nfts/{contract_address}":
    get:
      tags:
      - Contracts, Metadata & Assets
      summary: Retrieve contract NFTs
      description: |-
        Returns all NFTs for a given contract address. Can be set to ```include``` the NFT ```metadata```, ```file_information```, ```rarity```, ```last_sale_price``` or ```all``` which returns extra information. Ethereum, Polygon and Goerli are supported.

        #### Useful for:
        * Importing all NFTs from a given contract to your application.

        #### Related:
        * For a quick start, see the [List of sample addresses](../docs/About/SampleAddresses.md) to copy.
        * To get detailed information on the returned NFTs, see [Retrieve NFT details](../1.json/paths/~1v0~1nfts~1{contract_address}~1{token_id}/get).
        * To get NFTs that a given account owns, see [Retrieve NFTs owned by an account](../1.json/paths/~1v0~1accounts~1{account_address}/get).
      operationId: retrieve-contract-nfts
      parameters:
      - description: Contract address from which to query NFTs also known as the collection
          address.
        required: true
        schema:
          title: Contract Address
          type: string
          description: Contract address from which to query NFTs also known as the
            collection address.
        name: contract_address
        in: path
      - description: Blockchain from which to query NFTs.
        required: false
        schema:
          allOf:
          - "$ref": "#/components/schemas/NftsRequestSupportedChain"
          description: Blockchain from which to query NFTs.
          default: ethereum
        name: chain
        in: query
      - description: The page number of the results to return. The first page is 1.
        required: false
        schema:
          title: Page Number
          minimum: 1
          type: integer
          description: The page number of the results to return. The first page is
            1.
          default: 1
        name: page_number
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 50, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 50
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 50, and the default is 50.
          default: 50
        name: page_size
        in: query
      - description: Include optional data in the response. default is the minimal
          response, ```metadata``` includes NFT metadata and cached_file_url, ```file_information```
          includes extra information of the NFT’s file, ```rarity``` includes NFT
          rarity data and NFT attributes (traits), ```last_sale_price``` includes
          last sale price of an NFT and ```all``` includes full details like in [Retrieve
          NFT details](../1.json/paths/~1v0~1nfts~1{contract_address}~1{token_id}/get).
          Fields can be combined to get desired result.
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/GetContractNftsRequestInclude"
          description: Include optional data in the response. default is the minimal
            response, ```metadata``` includes NFT metadata and cached_file_url, ```file_information```
            includes extra information of the NFT’s file, ```rarity``` includes NFT
            rarity data and NFT attributes (traits), ```last_sale_price``` includes
            last sale price of an NFT and ```all``` includes full details like in
            [Retrieve NFT details](../1.json/paths/~1v0~1nfts~1{contract_address}~1{token_id}/get).
            Fields can be combined to get desired result.
          default:
          - metadata
        name: include
        in: query
      - description: Queues and refreshes all the NFTs metadata inside the contract
          (i.e. all tokens) if they have changed since the ```updated_date```. Useful
          for example, when NFT collections are revealed.
        required: false
        schema:
          title: Refresh Metadata
          type: boolean
          description: Queues and refreshes all the NFTs metadata inside the contract
            (i.e. all tokens) if they have changed since the ```updated_date```. Useful
            for example, when NFT collections are revealed.
          default: false
        name: refresh_metadata
        in: query
      responses:
        '200':
          description: A JSON object with an ```nfts``` property that contains an
            array of up to ```page_size``` NFTs. Each entry in the array is a separate
            NFT. If no more NFTs are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContractNftsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/nfts/{contract_address}/{token_id}":
    get:
      tags:
      - Contracts, Metadata & Assets
      summary: Retrieve NFT details
      description: |-
        Returns details for a given NFT. These include ```metadata_url```, ```metadata``` such as name, description, attributes, etc., ```file_url```, ```cached_file_url``` and ```mint_date```. Ethereum, Polygon and Goerli are supported.

        #### Useful for:
        * For easily getting all the necessary information about a given NFT.

        #### Related:
        * For a quick start, see the [List of sample addresses and token IDs](../docs/About/SampleAddresses.md) to copy.
        * To get all NFTs per contract, see [Retrieve contract NFTs](../1.json/paths/~1v0~1nfts~1{contract_address}/get).
        * To get NFTs that a given account owns, see [Retrieve NFTs owned by an account](../1.json/paths/~1v0~1accounts~1{account_address}/get).
      operationId: retrieve-nft-details
      parameters:
      - description: The contract address of the NFT.
        required: true
        schema:
          title: Contract Address
          type: string
          description: The contract address of the NFT.
        name: contract_address
        in: path
      - description: A unique ```uint256``` ID inside the contract. The contract address
          and token ID pair is a globally unique and fully-qualified identifier for
          a specific NFT on chain.
        required: true
        schema:
          title: Token Id
          type: string
          description: A unique ```uint256``` ID inside the contract. The contract
            address and token ID pair is a globally unique and fully-qualified identifier
            for a specific NFT on chain.
        name: token_id
        in: path
      - description: Blockchain from which to query NFTs.
        required: false
        schema:
          allOf:
          - "$ref": "#/components/schemas/NftsRequestSupportedChain"
          description: Blockchain from which to query NFTs.
          default: ethereum
        name: chain
        in: query
      - description: Queues and refreshes the metadata of the token if it has changed
          since the ```updated_date```. Useful for example, when NFT collections are
          revealed.
        required: false
        schema:
          title: Refresh Metadata
          type: boolean
          description: Queues and refreshes the metadata of the token if it has changed
            since the ```updated_date```. Useful for example, when NFT collections
            are revealed.
          default: false
        name: refresh_metadata
        in: query
      - description: "[BETA] Available only for Ethereum. Include optional data in
          the response. ```rarity``` includes NFT rarity data. ```attributes``` includes
          NFT attributes (traits)"
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/GetNftsDetailsRequestInclude"
          description: "[BETA] Available only for Ethereum. Include optional data
            in the response. ```rarity``` includes NFT rarity data. ```attributes```
            includes NFT attributes (traits)"
          default: []
        name: include
        in: query
      responses:
        '200':
          description: A JSON object with an ```nft``` property that contains details
            for a single NFT.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NftDetailsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/accounts/{account_address}":
    get:
      tags:
      - Ownership
      summary: Retrieve NFTs owned by an account
      description: |-
        Returns NFTs owned by a given account (i.e. wallet) address. Can also return each NFT metadata with  ```include```  parameter.

        #### Useful for:
        * For checking if a user owns a specific NFT and then unlocking specific activity.
        * Adding NFT portfolio section to your apps.

        #### Related:
        * For a quick start, see the [List of sample addresses](../docs/About/SampleAddresses.md) to copy.
        * To get all NFTs per contract, see [Retrieve contract NFTs](../1.json/paths/~1v0~1nfts~1{contract_address}/get).
        * To get extra detailed information on the returned NFTs, see [Retrieve NFT details](../1.json/paths/~1v0~1nfts~1{contract_address}~1{token_id}/get).
      operationId: retrieve-nfts-owned-by-account
      parameters:
      - description: Account address from which to fetch NFTs.
        required: true
        schema:
          title: Account Address
          type: string
          description: Account address from which to fetch NFTs.
        name: account_address
        in: path
      - description: Blockchain from which to query NFTs.
        required: false
        schema:
          allOf:
          - "$ref": "#/components/schemas/AccountRequestSupportedChain"
          description: Blockchain from which to query NFTs.
          default: ethereum
        name: chain
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 50, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 50
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 50, and the default is 50.
          default: 50
        name: page_size
        in: query
      - description: Continuation. Pass this value from the previous response to fetch
          the next page.
        required: false
        schema:
          title: Continuation
          type: string
          description: Continuation. Pass this value from the previous response to
            fetch the next page.
        name: continuation
        in: query
      - description: Include optional data in the response. ```default``` is the minimal
          response, ```metadata``` includes NFT metadata and ```file_information```
          includes extra information of the NFT’s file, like in Retrieve NFT details,
          and ```contract_information``` includes information of the NFT’s contract.
          Fields can be combined to get desired result.
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/AccountRequestInclude"
          description: Include optional data in the response. ```default``` is the
            minimal response, ```metadata``` includes NFT metadata and ```file_information```
            includes extra information of the NFT’s file, like in Retrieve NFT details,
            and ```contract_information``` includes information of the NFT’s contract.
            Fields can be combined to get desired result.
          default:
          - metadata
        name: include
        in: query
      - description: Exclude data from the response. ```erc721``` excludes ERC721
          tokens and ```erc1155``` excludes ERC1155 tokens.
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/AccountRequestExclude"
          description: Exclude data from the response. ```erc721``` excludes ERC721
            tokens and ```erc1155``` excludes ERC1155 tokens.
          default: []
        name: exclude
        in: query
      - description: Filter by and return NFTs only from the given contract address.
        required: false
        schema:
          title: Contract Address
          type: string
          description: Filter by and return NFTs only from the given contract address.
        name: contract_address
        in: query
      responses:
        '200':
          description: A JSON object with an ```nfts``` property that contains an
            array of up to ```page_size``` NFTs. Each entry in the array is a separate
            NFT. If no more NFTs are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountNftsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/accounts/contracts/{account_address}":
    get:
      tags:
      - Ownership
      summary: Retrieve contracts owned by an account
      description: |-
        Returns a list of contracts (i.e. collections) based on `type` of ownership:
         1. `owns_contract_nfts`- the given account (wallet) address owns at least one NFT.
         2. `owns_contracts`- the given account (wallet) address is the owner of the contract.

        #### Useful for:
        * Showing the user a list of contracts in which they own NFTs.
        * Showing the user a list of contracts owned by them.
        * Checking if a user owns an NFT in a specific collections and then unlocking some experience for them, i.e. token-gating. (You are still responsible for validating that the user owns the wallet.)

        #### Related:
        * For a quick start, see the [List of sample addresses](../docs/About/SampleAddresses.md) to copy.
        * To get a list of all NFTs owned by this account, see [Retrieve NFTs owned by account](../1.json/paths/~1v0~1accounts~1{account_address}/get).
        * To get extra detailed information on the returned NFTs, see [Retrieve NFT details](../1.json/paths/~1v0~1nfts~1{contract_address}~1{token_id}/get).
      operationId: retrieve-contracts-owned-by-account
      parameters:
      - description: Account address from which to fetch contracts.
        required: true
        schema:
          title: Account Address
          type: string
          description: Account address from which to fetch contracts.
        name: account_address
        in: path
      - description: Blockchain from which to query contracts.
        required: false
        schema:
          title: Chain
          enum:
          - ethereum
          - goerli
          - polygon
          type: string
          description: Blockchain from which to query contracts.
          default: ethereum
        name: chain
        in: query
      - description: Type of ownership. `owns_contract_nfts` gets contracts where
          the given account (wallet) address owns at least one NFT and `owns_contracts`
          gets contracts where the given account (wallet) address is the owner of
          the contract.
        required: false
        schema:
          allOf:
          - "$ref": "#/components/schemas/AccountContractsRequestType"
          description: Type of ownership. `owns_contract_nfts` gets contracts where
            the given account (wallet) address owns at least one NFT and `owns_contracts`
            gets contracts where the given account (wallet) address is the owner of
            the contract.
          default: owns_contract_nfts
        name: type
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 50, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 20
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 50, and the default is 50.
          default: 20
        name: page_size
        in: query
      - description: Continuation. Pass this value from the previous response to fetch
          the next page.
        required: false
        schema:
          title: Continuation
          type: string
          description: Continuation. Pass this value from the previous response to
            fetch the next page.
        name: continuation
        in: query
      responses:
        '200':
          description: A JSON object with an ```contracts``` property that contains
            an array of up to ```page_size``` contracts. Each entry in the array is
            a separate contract. If no more NFTs are available, the resulting array
            will be empty.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountContractsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/transactions/accounts/{account_address}":
    get:
      tags:
      - Transactions
      summary: Retrieve transactions by an account
      description: |-
        Returns all on-chain transactions (Contract specific/OS Seaport/LooksRare/X2Y2/Rarible/CryptoPunks) as well as Seaport listings for the specified account (i.e. wallet) address. Can be set to `include` transactions such as `mint`, `burn`, `transfer_from`, `transfer_to`, `buy`, `sell`, `list` or `all` which includes all transactions. Ethereum and Polygon mainnet is supported.

        #### Useful for:
        * Tracking all transactions made by an account.
        * Building analytics and monitoring solutions.

        #### Related:
        * For a quick start, see the [List of sample addresses](../docs/About/SampleAddresses.md) to copy.
        * To query transactions from a contract, see [Retrieve transactions by contract](../1.json/paths/~1v0~1transactions~1nfts~1{contract_address}/get).
        * To query transactions for an NFT, see [Retrieve transactions by NFT](../1.json/paths/~1v0~1transactions~1nfts~1{contract_address}~1{token_id}/get).
      operationId: retrieve-transactions-owned-by-account
      parameters:
      - description: Account address from which to fetch NFT transactions.
        required: true
        schema:
          title: Account Address
          type: string
          description: Account address from which to fetch NFT transactions.
        name: account_address
        in: path
      - description: Blockchain from which to query NFT transactions.
        required: false
        schema:
          title: Chain
          enum:
          - ethereum
          - polygon
          type: string
          description: Blockchain from which to query NFT transactions.
          default: ethereum
        name: chain
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 50, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 20
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 50, and the default is 50.
          default: 20
        name: page_size
        in: query
      - description: Transaction type. You can specify the event types as an array.
          `all` returns all transaction types.
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/GetTransactionsByAccountType"
          description: Transaction type. You can specify the event types as an array.
            `all` returns all transaction types.
          default:
          - all
        name: type
        in: query
      - description: Continuation. Pass this value from the previous response to fetch
          the next page.
        required: false
        schema:
          title: Continuation
          type: string
          description: Continuation. Pass this value from the previous response to
            fetch the next page.
        name: continuation
        in: query
      responses:
        '200':
          description: A JSON object with `transactions` property that contains an
            array of up to `page_size` transactions. Each entry in the array is a
            separate transaction. If no more transactions are available, the resulting
            array will be empty.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionsByAccountResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/transactions/nfts/{contract_address}/{token_id}":
    get:
      tags:
      - Transactions
      summary: Retrieve transactions by NFT
      description: |-
        Returns all on-chain transactions (Contract specific/OS Seaport/LooksRare/X2Y2/Rarible/CryptoPunks) as well as Seaport listings for the specified NFT token. Can be set to `include` transactions such as `transfer`, `burn`, `mint`, `sale` and `list`, or `all` which includes all transactions. Ethereum and Polygon mainnet is supported.

        #### Useful for:
        * Tracking all transactions of an NFT token.
        * Building analytics and monitoring solutions.

        #### Related:
        * For a quick start, see the [List of sample addresses and token IDs](../docs/About/SampleAddresses.md) to copy.
        * To query transactions from a contract, see [Retrieve transactions by contract](../1.json/paths/~1v0~1transactions~1nfts~1{contract_address}/get).
        * To query transactions from an account, see [Retrieve transactions by account](../1.json/paths/~1v0~1transactions~1accounts~1{account_address}/get).
      operationId: retrieve-transactions-owned-by-nft
      parameters:
      - description: Contract address of the NFT from which to query transactions.
        required: true
        schema:
          title: Contract Address
          type: string
          description: Contract address of the NFT from which to query transactions.
        name: contract_address
        in: path
      - description: Token ID of the NFT from which to query transactions.
        required: true
        schema:
          title: Token Id
          type: string
          description: Token ID of the NFT from which to query transactions.
        name: token_id
        in: path
      - description: Blockchain of the NFT from which to query transactions.
        required: false
        schema:
          title: Chain
          enum:
          - ethereum
          - polygon
          type: string
          description: Blockchain of the NFT from which to query transactions.
          default: ethereum
        name: chain
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 50, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 20
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 50, and the default is 50.
          default: 20
        name: page_size
        in: query
      - description: Transaction type. You can specify the event types as an array.
          `all` returns all transaction types.
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/GetTransactionsByNFTType"
          description: Transaction type. You can specify the event types as an array.
            `all` returns all transaction types.
          default:
          - all
        name: type
        in: query
      - description: Continuation. Pass this value from the previous response to fetch
          the next page.
        required: false
        schema:
          title: Continuation
          type: string
          description: Continuation. Pass this value from the previous response to
            fetch the next page.
        name: continuation
        in: query
      responses:
        '200':
          description: A JSON object with `transactions` property that contains an
            array of up to `page_size` transactions. Each entry in the array is a
            separate transaction. If no more transactions are available, the resulting
            array will be empty.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionsByTokenResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/transactions/nfts/{contract_address}":
    get:
      tags:
      - Transactions
      summary: Retrieve transactions by contract
      description: |-
        Returns all on-chain transactions (Contract specific/OS Seaport/LooksRare/X2Y2/Rarible/CryptoPunks) as well as Seaport listings for the specified contract. Can be set to `include` transactions such as `transfer`, `burn`, `mint`, `sale` and `list`, or `all` which includes all transactions. Ethereum and Polygon mainnet is supported.

        #### Useful for:
        * Tracking all transactions of all NFT tokens in a contract.
        * Building analytics and monitoring solutions.

        #### Related:
        * For a quick start, see the [List of sample addresses](../docs/About/SampleAddresses.md) to copy.
        * To query sales statistics of an NFT collection, see [Retrieve contract sales statistics](../1.json/paths/~1v0~1transactions~1stats~1{contract_address}/get).
        * To query transactions for an NFT, see [Retrieve transactions by NFT](../1.json/paths/~1v0~1transactions~1nfts~1{contract_address}~1{token_id}/get).
        * To query transactions from an account, see [Retrieve transactions by account](../1.json/paths/~1v0~1transactions~1accounts~1{account_address}/get).
      operationId: retrieve-transactions-by-contract
      parameters:
      - description: Contract address from which to query NFT transactions.
        required: true
        schema:
          title: Contract Address
          type: string
          description: Contract address from which to query NFT transactions.
        name: contract_address
        in: path
      - description: Blockchain from which to query NFT transactions.
        required: false
        schema:
          title: Chain
          enum:
          - ethereum
          - polygon
          type: string
          description: Blockchain from which to query NFT transactions.
          default: ethereum
        name: chain
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 50, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 20
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 50, and the default is 50.
          default: 20
        name: page_size
        in: query
      - description: Transaction type. You can specify the event types as an array.
          `all` returns all transaction types.
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/GetTransactionsByContractType"
          description: Transaction type. You can specify the event types as an array.
            `all` returns all transaction types.
          default:
          - all
        name: type
        in: query
      - description: Continuation. Pass this value from the previous response to fetch
          the next page.
        required: false
        schema:
          title: Continuation
          type: string
          description: Continuation. Pass this value from the previous response to
            fetch the next page.
        name: continuation
        in: query
      responses:
        '200':
          description: A JSON object with `transactions` property that contains an
            array of up to `page_size` transactions. Each entry in the array is a
            separate transaction. If no more transactions are available, the resulting
            array will be empty.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionsByContractResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/transactions/stats/{contract_address}":
    get:
      tags:
      - Transactions
      summary: Retrieve contract sales statistics
      description: |-
        Retrieve in-depth sales statistics about a contract from OpenSea. Includes statistics such as floor price, total volume, sales, etc. Updated with 1-hour interval.

        #### Useful for:
        * Analysis and ranking of NFT collections.
        * Tracking NFT collections by sales, etc.

        #### Related:
        * For a quick start, see the [List of sample addresses](../docs/About/SampleAddresses.md) to copy.
        * To query transactions from a contract, see [Retrieve transactions by contract](../1.json/paths/~1v0~1transactions~1nfts~1{contract_address}/get).
        * To get all NFTs of a contract, see [Retrieve contract NFTs](../1.json/paths/~1v0~1nfts~1{contract_address}/get).
      operationId: retrieve-contract-sales-statistics
      parameters:
      - description: Contract address of the collection.
        required: true
        schema:
          title: Contract Address
          type: string
          description: Contract address of the collection.
        name: contract_address
        in: path
      - description: Blockchain where the collection has been minted.
        required: false
        schema:
          title: Chain
          enum:
          - ethereum
          - polygon
          type: string
          description: Blockchain where the collection has been minted.
          default: ethereum
        name: chain
        in: query
      responses:
        '200':
          description: In depth statistics of a contract
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CollectionStatsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/contracts":
    put:
      tags:
      - Product contracts
      summary: Update a deployed contract for NFT products
      description: |-
        Updates a contract which has been previously deployed with [Deploy a contract for NFT products](../3.json/paths/~1v0~1contracts/post). You can freeze the metadata of the NFTs minted in the specified contract which means they can not be updated after minting (token URIs are frozen on the contract level).

        #### Useful for:
        * Creating dynamic NFTs (NFTs that change after minting based on events) and freezing them afterwards.
        * Revealing NFTs after a drop and freezing them afterwards.

        #### Related:
        * If you wish to list all your previously deployed contracts, see [List all your deployed contracts](../3.json/paths/~1v0~1me~1contracts/get).
      operationId: update-nft-product-contract
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateContractRequest"
        required: true
      responses:
        '200':
          description: Returns transaction hash which can be used to confirm that
            the transaction was successful (blockchain transactions can take up to
            a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateContractResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
    post:
      tags:
      - Product contracts
      summary: Deploy a contract for NFT products
      description: |-
        Deploys an [```ERC-721```](https://github.com/nftport/solidity-contracts/blob/master/contracts/templates/ERC721NFTProduct.sol) or [```ERC-1155```](https://github.com/nftport/solidity-contracts/blob/master/contracts/templates/ERC1155NFTProduct.sol) smart contract where your can mint your NFTs on-demand. The supply of NFTs is not fixed; more can be minted into this contract at any point in the future. This is a required step if you wish to use [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post) as your NFTs will be minted into this contract.

        As blockchains can take a few seconds up to a few minutes to sync, then after contract deployment, you can use the returned ```transaction_hash``` in [Retrieve a deployed contract](../3.json/paths/~1v0~1contracts~1{transaction_hash}/get) to get the ```contract_address```.

        **You can deploy up to 5 contracts for free per chain. For higher limits, see [pricing](https://www.nftport.xyz/pricing).**

        #### Useful for:
        * Deploying your own contracts so you easily can build custom products.

        #### Related:
        * To get the deployed contract address, use [Retrieve a deployed contract](../3.json/paths/~1v0~1contracts~1{transaction_hash}/get).
        * If you want to know how to use the customizable minting, see [Customizable Minting Quickstart](docs/minting/Minting-Quickstart.md#customizable-minting).
        * To understand the difference between NFT product contracts and NFT collection contracts, see [Contract comparison](docs/Introduction/Contract-comparison.md).

        Read how **royalties** work [here](docs/About/Royalties.md).
      operationId: deploy-nft-product-contract
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DeployContractRequestWithAddress"
        required: true
      responses:
        '200':
          description: Details of the deployed contract and its transaction hash.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeployContractResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/contracts/collections":
    put:
      tags:
      - Collection contracts
      summary: Update a deployed collection contract
      description: |-
        Updates a collection contract which has been previously deployed with [Deploy an NFT collection contract](../3.json/paths/~1v0~1contracts~1collections/post). You can change the reveal dates, metadata location, presale time and whitelist, or royalty details. You can also freeze the metadata of the NFTs minted in the specified contract so metadata cannot be updated any more (token URIs are frozen on the contract level).

        **Ethereum contract updates are available only on the Growth or Scale tier and you will be charged immediately on request and if the transaction fails for any reason the amount will be refunded. For higher limits, see [pricing](https://www.nftport.xyz/pricing).**


        #### Useful for:
        * Revealing NFTs at a specified time and freezing them afterwards.
        * Allowing a limited group of people to mint NFTs during a presale period.
        * Changing royalty amount and recipient.


        #### Related:
        * If you wish to list all your previously deployed collection contracts, see [List all your deployed collection contracts](../3.json/paths/~1v0~1me~1contracts~1collections/get).
      operationId: update-nft-collection-contract
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateContractCollectionsRequest"
        required: true
      responses:
        '200':
          description: Returns transaction hash which can be used to confirm that
            the transaction was successful (blockchain transactions can take up to
            a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateContractCollectionsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
    post:
      tags:
      - Collection contracts
      summary: Deploy an NFT collection contract
      description: |-
        Deploys a [fixed-supply ERC-721 smart contract](https://github.com/nftport/solidity-contracts/blob/master/contracts/templates/NFTCollection.sol), commonly used for launching NFT collections.

        As blockchains can take a few seconds up to a few minutes to sync, then after contract deployment, you can use the returned ```transaction_hash``` in [Retrieve a deployed contract](../3.json/paths/~1v0~1contracts~1{transaction_hash}/get) to get the ```contract_address```.

        **You can deploy up to 5 contracts for free on each of Polygon and Goerli, and ```max_supply``` is limited to less than or equal to 5,000 NFTs for collection contracts deployed on the Free plan. Ethereum contract deployments are available only on the Growth or Scale tier
        and you will be charged immediately on request and if the transaction fails for any reason the amount will be refunded. For details and limits, see [pricing](https://www.nftport.xyz/pricing).**



        #### Useful for:
        * Launching an NFT collection (e.g. a 10,000 profile pictures collection) with a minting website. **See our [tutorial](docs/minting/How-to-create-an-NFT-collection-contract.md) to learn how to create an NFT contract collection and make a website to allows users to mint.**

        #### Related:
        * To get the deployed contract address, use [Retrieve a deployed contract](../3.json/paths/~1v0~1contracts~1{transaction_hash}/get).
        * If you wish to list all your previously deployed collection contracts, see [List all your deployed collection contracts](../3.json/paths/~1v0~1me~1contracts~1collections/get).
        * The contract ABI can be fetched using the [Get contract ABI](../3.json/paths/~1v0~1me~1contracts~1abis~1{contract_address}/get) endpoing.

        Read how **royalties** work [here](docs/About/Royalties.md).
      operationId: deploy-nft-collection-contract
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DeployContractCollectionsRequest"
        required: true
      responses:
        '200':
          description: Details of the deployed contract and its transaction hash.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeployContractCollectionsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/contracts/{transaction_hash}":
    get:
      tags:
      - ''
      summary: Retrieve a deployed contract
      description: |-
        Returns the details of a contract that has previously been deployed with [Deploy a contract for NFT products](../3.json/paths/~1v0~1contracts/post) or [Deploy an NFT collection contract](../3.json/paths/~1v0~1contracts~1collections/post). Supply the ```transaction_hash``` to check if the contract is on chain and to get the ```contract_address```. For NFT product contracts, you can use the returned ```contract_address``` in [Customizable Minting](../3.json/paths/~1v0~1mints~1customizable/post).

        As blockchains can take a few seconds up to a few minutes to sync, this endpoint can be polled until the ```contract_address``` is returned.

        #### Useful for:
        * Deploying your own contracts so you can build custom products or collections easily.

        #### Related:
        * If you want to get data about NFT contracts which you haven't deployed using NFTPort, see [Retrieve contract NFTs](../1.json/paths/~1v0~1nfts~1{contract_address}/get).
        * If you want to learn how to use the [customizable minting](../3.json/paths/~1v0~1mints~1customizable/post), see [Customizable Minting Quickstart](docs/minting/Minting-Quickstart.md#customizable-minting).
      operationId: retrieve-nft-collection-contract
      parameters:
      - description: Transaction hash that was returned from deploying an NFT contract.
        required: true
        schema:
          title: Transaction Hash
          type: string
          description: Transaction hash that was returned from deploying an NFT contract.
        name: transaction_hash
        in: path
      - description: Blockchain where the contract has been deployed to.
        required: false
        schema:
          title: Chain
          enum:
          - polygon
          - ethereum
          type: string
          description: Blockchain where the contract has been deployed to.
          default: polygon
        name: chain
        in: query
      responses:
        '200':
          description: Chain and contract address of the deployed contract.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetDeployedContractResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/files":
    post:
      tags:
      - Storage
      summary: Upload a file to IPFS
      description: |-
        Uploads a file to [IPFS](https://docs.ipfs.io/concepts/what-is-ipfs/) which makes your NFT storage easy. You can use the returned  ```ipfs_url```  with [Upload metadata to IPFS](../3.json/paths/~1v0~1metadata/post) to mint your NFT.

        If you prefer hosting files in your own servers, you can skip this step. Otherwise, we recommend using IPFS because it's an industry standard for decentralized storage and guarantees the immutability of your files.
        We use [nft.storage](https://nft.storage/) to [pin](https://docs.ipfs.io/how-to/pin-files/) the files with Filecoin, which ensures that your important data is retained in IPFS.

        **Supports all file types and maximum file size is 50MB. For higher limits, see [pricing](https://www.nftport.xyz/pricing).**

        #### Useful for:
        * Storing your NFT files easily and according to the industry standards.

        #### Related:
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
        * After uploading files, use [Upload metadata to IPFS](../3.json/paths/~1v0~1metadata/post) to continue with your NFT minting.
        * If you want to learn how to use the [customizable minting](../3.json/paths/~1v0~1mints~1customizable/post), see [Customizable Minting Quickstart](docs/minting/Minting-Quickstart.md#customizable-minting).

        #### Example Requests in cURL, Python & JS

        <!--
        title: "Make sure to replace the parameters with your own values"
        lineNumbers: true
        -->

        ```shell
        curl --request POST \
            --url 'https://api.nftport.xyz/v0/files' \
            --header 'Authorization: API Key Here' \
            --header 'Content-Type: multipart/form-data' \
            --form 'file=@/path/to/file_to_upload.png;type=image/png'
        ```

        ```python
        import requests

        file = open("image.png", "rb")

        response = requests.post(
            "https://api.nftport.xyz/v0/files",
            headers={"Authorization": 'API-Key-Here'},
            files={"file": file}
        )
        ```

        ```javascript
        const fs = require('fs');
        const fetch = require('node-fetch');
        const FormData = require('form-data');

        const form = new FormData();
        const fileStream = fs.createReadStream('image.jpg');
        form.append('file', fileStream);

        const options = {
          method: 'POST',
          body: form,
          headers: {
            "Authorization": "API-Key-Here",
          },
        };

        fetch("https://api.nftport.xyz/v0/files", options)
          .then(response => {
            return response.json()
          })
          .then(responseJson => {
            // Handle the response
            console.log(responseJson);
          })
        ```
      operationId: upload-file-to-ipfs
      requestBody:
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/Body_upload-file-to-ipfs"
        required: true
      responses:
        '200':
          description: The details of the uploaded file and the IPFS URL.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IpfsFileUploadResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/metadata":
    post:
      tags:
      - Storage
      summary: Upload metadata to IPFS
      description: |-
        Uploads NFT metadata to [IPFS](https://docs.ipfs.io/concepts/what-is-ipfs/) as a JSON file which is the standard format for  [NFT metadata](https://nftschool.dev/reference/metadata-schemas/#intro-to-json-schemas). You can use the returned ```metadata_ipfs_uri``` in [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post) to mint your NFT.

        If you prefer hosting metadata in your own servers, you can skip this step. Otherwise, we recommend using IPFS because it’s an industry standard for decentralized storage and guarantees the immutability of your metadata. For the ```file_url```, we also recommend using IPFS with [Upload a file to IPFS](../3.json/paths/~1v0~1files/post).
        We use [nft.storage](https://nft.storage/) to [pin](https://docs.ipfs.io/how-to/pin-files/) the files with Filecoin, which ensures that your important data is retained in IPFS.

        #### Useful for:
        * Storing your NFT metadata easily and according to the industry standards.

        #### Related:
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
        * After uploading your metadata, use [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post) to continue with your NFT minting.
        * If you are new to NFT metadata, see the [basics on it](https://nftschool.dev/reference/metadata-schemas/).
      operationId: upload-metadata-to-ipfs
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/IpfsMetadataUploadRequest"
        required: true
      responses:
        '200':
          description: The details of the NFT metadata and the uploaded metadata URI
            which you can use in [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IpfsMetadataUploadResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/metadata/directory":
    post:
      tags:
      - Storage
      summary: Upload metadata directory to IPFS
      description: |-
        Uploads an array of JSON files containing NFT metadata to [IPFS](https://docs.ipfs.io/concepts/what-is-ipfs/).
        The output is an IPFS URI of a directory containing the uploaded JSON files. The IPFS URI of this directory will be used as the `base_uri` in [Collection contract](../3.json/paths/~1v0~1contracts~1collections/post).

        IPFS is an industry standard for decentralized storage and guarantees the immutability of your metadata. For the ```file_url```, we also recommend using IPFS with [Upload a file to IPFS](../3.json/paths/~1v0~1files/post).
        We use [nft.storage](https://nft.storage/) to [pin](https://docs.ipfs.io/how-to/pin-files/) the files with Filecoin, which ensures that your important data is retained in IPFS.

        **Supports only files with [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) as application/json.**

        **Maximum number of files that can be uploaded together is 25,000 and maximum total file size is 50MB**

        <!-- theme: info -->
        > ### Note:
        > * All metadata files must be uploaded at once since IPFS creates a unique immutable hash of all files in the directory.
        > * To work with [Collection contracts](../3.json/paths/~1v0~1contracts~1collections/post), the filenames should be token IDs starting from 0.
        > * The file extension will be removed and only the filename will be retained in the IPFS directory (eg: '4521.json' will become '4521' on IPFS).
        > * All files will be placed at the base of the directory.

        #### Useful for:
        * Uploading a directory of metadata files to IPFS.

        #### Related:
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
        * If you are new to NFT metadata, see the [basics on it](https://nftschool.dev/reference/metadata-schemas/).

        ```python title="This script uploads all JSON files in the 'Metadata' directory to IPFS"
        import requests
        import os
        from os import listdir
        from os.path import join

        metadata_directory_path = "Metadata" #Replace with your path

        files = [f for f in listdir(metadata_directory_path) if str(join(metadata_directory_path, f)).endswith('.json')]
        metadata_files = []

        for metadata in files:
            metadata_files.append(
                ("metadata_files", open(os.path.join(metadata_directory_path, metadata), "rb")))

        response = requests.post(
                "https://api.nftport.xyz/v0/metadata/directory",
                headers={"Authorization": "Your-API-Key"},
                files=metadata_files
            )
        print(response.json())
        ```

        ```javascript title="This script uploads all JSON files in the 'Metadata' directory to IPFS"
        const fs = require('fs');
        const path = require('path')
        const request = require('request');

        API_KEY = "YOUR_API_KEY" // Replace with your API key
        METADATA_DIRECTORY_PATH = "Metadata" // Replace with your path to directory folder containing metadata json files


        function isJson(filename) {
        return filename.split('.').pop() === "json"
        }

        function getFileStreamForJSONFiles(directory) {
        const jsonArray = []
        fs.readdirSync(directory).forEach(file => {
            if(!isJson(file)) {
            return
            }
            const fileData = fs.createReadStream(path.join(directory, file));
            jsonArray.push(fileData)
        });
        return jsonArray
        }

        function sendRequest(metadataFileStreams, apiKey) {
            const options = {
                url: 'https://api.nftport.xyz/v0/metadata/directory',
                headers: { "Authorization": apiKey }
            }
            const req = request.post(options, function (err, resp, body) {
                if (err) {
                    console.error('Error: ' + err);
                } else {
                    console.log('Response: ' + body);
                }
            });
            const form = req.form();
            metadataFileStreams.forEach(file => {
                form.append('metadata_files', file);
            })

        }

        metadataFileStreams = getFileStreamForJSONFiles(METADATA_DIRECTORY_PATH)
        sendRequest(metadataFileStreams, API_KEY)
        ```
      operationId: upload-metadata-directory-to-ipfs
      requestBody:
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/Body_upload-metadata-directory-to-ipfs"
        required: true
      responses:
        '200':
          description: The IPFS URI of the uploaded directory which you can use as
            the `base_uri` in [Collection contracts](../3.json/paths/~1v0~1contracts~1collections/post)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IpfsMetadataDirectoryUploadResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/customizable":
    put:
      tags:
      - Product minting
      summary: Update a minted NFT
      description: |-
        Updates an NFT which has been previously minted with [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post)
        or [Batch customizable minting](../3.json/paths/~1v0~1mints~1customizable~1batch/post). You can update the metadata URI with a new link or freeze the metadata URI to permanently lock it. The NFT must be minted in your deployed contract and update only works if contract and token are not frozen.

        1.  First, you need ```contract_address``` from [Deploy a contract for NFT products](../3.json/paths/~1v0~1contracts/post) and ```metadata_updatable``` must be set ```true```.
        2.  Secondly, you need ```token_id``` from [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post) or [Batch customizable minting](../3.json/paths/~1v0~1mints~1customizable~1batch/post).
        3.  If you only wish to update the metadata URI set a new ```metadata_uri```. If you wish to update metadata URI and freeze both at the same time then set a new ```metadata_uri``` and ```freeze_metadata``` as ```true```. If you only want to freeze existing metadata URI, then set ```freeze_metadata``` as ```true```.

        #### Useful for:
        * Creating dynamic NFTs (NFTs that change after minting based on events).
        * Revealing NFTs after the drop.

        #### Related:
        * If you want to learn how to use [customizable minting](../3.json/paths/~1v0~1mints~1customizable/post), see [Customizable Minting Quickstart](docs/minting/Minting-Quickstart.md#customizable-minting).
        * If you wish to list all your previously minted NFTs, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
      operationId: update-minted-nft
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateNftRequest"
        required: true
      responses:
        '200':
          description: Returns transaction hash which can be used to confirm that
            the transaction was successful (blockchain transactions can take up to
            a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
    post:
      tags:
      - Product minting
      summary: Customizable minting
      description: |-
        Mints an NFT to your previously deployed contract for NFT products. This minting consists of multiple steps and enables you to customize the whole minting flow for your exact needs.

        1.  First, you need  ```contract_address```  using [Deploy a contract for NFT products](../3.json/paths/~1v0~1contracts/post).
        2.  Secondly, you need  ```metadata_uri```  using [Upload metadata to IPFS](../3.json/paths/~1v0~1metadata/post).

        After minting, the NFT will appear in the  ```mint_to_address```  wallet. If you minted to your own wallet, you can also see the minted NFT on OpenSea in your profile after a few minutes.

        **You can mint up to 100 NFTs for free per chain. Maximum supported filesize is 50MB. For higher limits, see [pricing](https://www.nftport.xyz/pricing).**

        #### Useful for:
        * Minting to your own product contracts effortlessly.
        * Creating customizable minting flows which enable to build NFT-based products.

        #### Related:
        * If you want to learn how to use [customizable minting](../3.json/paths/~1v0~1mints~1customizable/post), see [Customizable Minting Quickstart](docs/minting/Minting-Quickstart.md#customizable-minting).
        * If you wish to list all your previously minted NFTs, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
      operationId: customizable-minting
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MintNftRequest"
        required: true
      responses:
        '200':
          description: Returns contract address and the transaction hash which can
            be used in [Return minted NFT](../3.json/paths/~1v0~1mints~1{transaction_hash}/get)
            to receive the token ID and confirm that the minting was successful (minting
            can take up to a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MintNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
    delete:
      tags:
      - Product minting
      summary: Burn a minted NFT
      description: |-
        Burns an NFT which has been previously minted with [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post).
        Burning an NFT means destroying it by sending it to a null (un-spendable) address.
        Transactions leading up to the burn will remain on the blockchain.

        **Note**: Burning is possible only if the token is owned by the contract owner and the token has not been transferred/sold yet.

        #### Related:
        * If you want to update a minted NFT, see [Update a minted NFT](../3.json/paths/~1v0~1mints~1customizable/put).
        * If you want to burn a batch of NFTs, see [Batch burn minted NFTs](../3.json/paths/~1v0~1mints~1customizable~1batch/delete).
      operationId: burn-minted-nft
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BurnNftRequest"
        required: true
      responses:
        '200':
          description: Returns transaction hash which can be used to confirm that
            the transaction was successful (blockchain transactions can take up to
            a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BurnNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/customizable/batch":
    post:
      tags:
      - Product batch minting
      summary: Batch customizable minting (ERC1155)
      description: |-
        Batch mints NFTs to your previously deployed ERC1155 NFT product contract. This minting consists of multiple steps and enables you to customize the whole minting flow for your exact needs.
        Batch minting allows you to create multiple NFTs with one API call and create more than one of the same token.

        1.  First, you need  ```contract_address```  using [Deploy a contract for NFT products](../3.json/paths/~1v0~1contracts/post).
        2.  Secondly, you need  ```metadata_uri```  using [Upload metadata to IPFS](../3.json/paths/~1v0~1metadata/post).

        After minting, the NFTs will appear in the  ```mint_to_address```  wallet.
        If you minted to your own wallet, you can also see the minted NFTs on OpenSea in your profile after a few minutes.

        **You can mint up to 100 NFTs for free per chain. Maximum supported filesize is 50MB. For higher limits, see [pricing](https://www.nftport.xyz/pricing).**

        #### Useful for:
        * Minting to your own NFT product contracts effortlessly.
        * Creating customizable minting flows which enable to build NFT-based products.

        #### Related:
        * If you want to learn how to use [customizable minting](../3.json/paths/~1v0~1mints~1customizable/post), see [Customizable Minting Quickstart](docs/minting/Minting-Quickstart.md#customizable-minting).
        * If you wish to list all your previously minted NFTs, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
      operationId: batch-customizable-minting
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MintBatchNftRequest"
        required: true
      responses:
        '200':
          description: Returns contract address and the transaction hash which can
            be used in [Return minted NFT](../3.json/paths/~1v0~1mints~1{transaction_hash}/get)
            to receive the token ID and confirm that the minting was successful (minting
            can take up to a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MintBatchResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
    delete:
      tags:
      - Product batch minting
      summary: Batch burn minted NFTs (ERC1155 only)
      description: |-
        Burns a batch of NFTs which have been previously minted with [Batch customizable minting](../3.json/paths/~1v0~1mints~1customizable~1batch/post).
        Burning an NFT means destroying it by sending it to a null (un-spendable) address.
        Transactions leading up to the burn will remain on the blockchain.

        **Note**: Burning is possible only if the token is owned by the contract owner and the token has not been transferred/sold yet.

        #### Related:
        * If you want to update a minted NFT, see [Update a minted NFT](../3.json/paths/~1v0~1mints~1customizable/put).
        * If you want to burn a single NFT, see [Burn a minted NFT](../3.json/paths/~1v0~1mints~1customizable/delete).
      operationId: batch-burn-minted-nfts
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BurnBatchNftRequest"
        required: true
      responses:
        '200':
          description: Returns transaction hash which can be used to confirm that
            the transaction was successful (blockchain transactions can take up to
            a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BurnBatchNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/transfers":
    post:
      tags:
      - Product minting
      summary: Transfer a minted NFT
      description: |-
        Transfers an NFT which has been previously minted with [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post) to another wallet address.

        **Note**: Transferring is possible only if the token is owned by the contract owner and the token has not been transferred/sold yet.

        #### Related:
        * If you want to update a minted NFT, see [Update a minted NFT](../3.json/paths/~1v0~1mints~1customizable/put).
        * If you want to transfer a batch of NFTs, see [Batch transfer minted NFTs](../3.json/paths/~1v0~1mints~1transfers~1batch/post).
      operationId: transfer-minted-nft
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TransferNftRequest"
        required: true
      responses:
        '200':
          description: Returns transaction hash which can be used to confirm that
            the transaction was successful (blockchain transactions can take up to
            a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransferNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/transfers/batch":
    post:
      tags:
      - Product batch minting
      summary: Batch transfer minted NFTs (ERC1155 only)
      description: |-
        Transfers a batch of NFTs which have been previously minted with [Batch customizable minting](../3.json/paths/~1v0~1mints~1customizable~1batch/post) to other wallet addresses.

        **Note**: Transferring is possible only if the token is owned by the contract owner and the token has not been transferred/sold yet.

        #### Related:
        * If you want to update a minted NFT, see [Update a minted NFT](../3.json/paths/~1v0~1mints~1customizable/put).
        * If you want to transfer a single NFTs, see [Transfer a minted NFT](../3.json/paths/~1v0~1mints~1transfers/post).
      operationId: batch-transfer-minted-nfts
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TransferBatchNftRequest"
        required: true
      responses:
        '200':
          description: Returns transaction hash which can be used to confirm that
            the transaction was successful (blockchain transactions can take up to
            a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransferBatchNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/easy/urls":
    post:
      tags:
      - Easy minting
      summary: Easy minting w/URL
      description: |-
        With Easy mint, you can turn anything into an NFT in less than 5 minutes using one simple API call. If you are new to minting, see  [Easy minting quickstart](docs/minting/Minting-Quickstart.md#easy-minting).

        After minting, the NFT will appear in the  ```mint_to_address```  wallet. If you minted to your own wallet, you can also see the minted NFT on OpenSea in your profile after a few minutes.

        **You can mint up to 100 NFTs for free per chain. Maximum supported file size is 50MB. For higher limits, see [pricing](https://www.nftport.xyz/pricing).**

        #### Useful for:
        * For turning anything into an NFT effortlessly. For all the benefits, see  [Your New Minting Superpowers](docs/minting/Minting-Quickstart.md#what-you-can-do-with-your-new-minting-superpowers).

        #### Related:
        * If you wish to customize the minting process e.g. use your own contract, see  [Customizable minting](docs/minting/Minting-Quickstart.md#advanced-minting-apis).
        * If you wish to list all your previously minted NFTs, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
      operationId: easy-minting-urls
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EasyMintNftRequest"
        required: true
      responses:
        '200':
          description: Returns contract address and the transaction hash which can
            be used in [Return minted NFT](../3.json/paths/~1v0~1mints~1{transaction_hash}/get)
            to receive the token ID and confirm that the minting was successful (minting
            can take up to a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MintNftWithUploadResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/easy/files":
    post:
      tags:
      - Easy minting
      summary: Easy minting w/file upload
      description: |-
        With Easy mint, you can turn anything into an NFT in less than 5 minutes using one simple API call. If you are new to minting, see  [Easy minting quickstart](docs/minting/Minting-Quickstart.md#easy-minting).

        After minting, the NFT will appear in the  ```mint_to_address```  wallet. If you minted to your own wallet, you can also see the minted NFT on OpenSea in your profile after a few minutes.

        **You can mint up to 100 NFTs for free per chain. Maximum supported file size is 50MB. For higher limits, see [pricing](https://www.nftport.xyz/pricing).**

        #### Useful for:
        * For turning anything into an NFT effortlessly. For all the benefits, see  [Your New Minting Superpowers](docs/minting/Minting-Quickstart.md#what-you-can-do-with-your-new-minting-superpowers).

        #### Related:
        * If you wish to customize the minting process e.g. use your own contract, see  [Customizable minting](docs/minting/Minting-Quickstart.md#advanced-minting-apis).
        * If you wish to list all your previously minted NFTs, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).

        #### Example Requests in cURL, Python & JS

        <!--
        title: "Make sure to replace the parameters with your own values"
        lineNumbers: true
        -->

        ```shell
        curl --request POST \
            --url 'https://api.nftport.xyz/v0/mints/easy/files?chain=polygon&name=NFT_Name&description=NFT_Description&mint_to_address=0x...' \
            --header 'Authorization: API Key Here' \
            --header 'Content-Type: multipart/form-data' \
            --form 'file=@/path/to/file_to_upload.png;type=image/png'
        ```

        ```python
        import requests

        file = open("image.png", "rb")

        query_params = {
            "chain": "polygon",
            "name": "NFT_Name",
            "description": "NFT_Description",
            "mint_to_address": Wallet_Address
        }

        response = requests.post(
            "https://api.nftport.xyz/v0/mints/easy/files",
            headers={"Authorization": "API-Key-Here"},
            params=query_params,
            files={"file": file}
        )
        ```

        ```javascript
        const fs = require('fs');
        const fetch = require('node-fetch');
        const FormData = require('form-data');

        const form = new FormData();
        const fileStream = fs.createReadStream('/path/to/file_to_upload.png');
        form.append('file', fileStream);

        const options = {
          method: 'POST',
          body: form,
          headers: {
            "Authorization": "API-Key-Here",
          },
        };

        fetch("https://api.nftport.xyz/v0/mints/easy/files?" + new URLSearchParams({
          chain: 'polygon',
          name: "NFT_Name",
          description: "NFT_Description",
          mint_to_address: "Wallet_Address",
        }), options)
          .then(function(response) { return response.json() })
          .then(function(responseJson) {
            // Handle the response
            console.log(responseJson);
          })
        ```
      operationId: easy-minting-file-upload
      parameters:
      - description: Blockchain to mint the NFT on.
        required: false
        schema:
          title: Chain
          enum:
          - polygon
          type: string
          description: Blockchain to mint the NFT on.
          default: polygon
        name: chain
        in: query
      - description: Name of the NFT.
        required: true
        schema:
          title: Name
          maxLength: 400
          minLength: 1
          type: string
          description: Name of the NFT.
        name: name
        in: query
      - description: Text description of the NFT which will be seen on NFT marketplaces,
          etc.
        required: true
        schema:
          title: Description
          maxLength: 2000
          minLength: 1
          type: string
          description: Text description of the NFT which will be seen on NFT marketplaces,
            etc.
        name: description
        in: query
      - description: Account address where the NFT will be sent. For example, your
          Metamask wallet address if you wish to send it to yourself.
        required: true
        schema:
          title: Mint To Address
          type: string
          description: Account address where the NFT will be sent. For example, your
            Metamask wallet address if you wish to send it to yourself.
        name: mint_to_address
        in: query
      requestBody:
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/Body_easy-minting-file-upload"
        required: true
      responses:
        '200':
          description: Returns contract address and the transaction hash which can
            be used in [Return minted NFT](../3.json/paths/~1v0~1mints~1{transaction_hash}/get)
            to receive the token ID and confirm that the minting was successful (minting
            can take up to a few minutes depending on how congested the network is).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MintNftWithUploadResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/{transaction_hash}":
    get:
      tags:
      - ''
      summary: Retrieve a minted NFT
      description: |-
        Returns the details of a minted NFT. You need to provide  ```transaction_hash```  which is returned from [Easy minting w/URL](../3.json/paths/~1v0~1mints~1easy~1urls/post), [Easy minting w/file upload](../3.json/paths/~1v0~1mints~1easy~1files/post) or [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post). Minting is not instantaneous because blockchains take time to verify transactions. Thus, you can poll this endpoint every 5 seconds until you get a response.

        #### Useful for:
        * Confirming that NFT minting was successful and the NFT is on chain.

        #### Related:
        * For easy minting, see [Easy minting w/URL](../3.json/paths/~1v0~1mints~1easy~1urls/post) or [Easy minting w/file upload](../3.json/paths/~1v0~1mints~1easy~1files/post).
        * For customizable minting, see [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post).
        * If you wish to list all your previously minted NFTs, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
      operationId: get_minted_nft_v0_mints__transaction_hash__get
      parameters:
      - description: The transaction hash which was returned from Easy minting w/URL,
          Easy minting w/file upload or Customizable minting.
        required: true
        schema:
          title: Transaction Hash
          type: string
          description: The transaction hash which was returned from Easy minting w/URL,
            Easy minting w/file upload or Customizable minting.
        name: transaction_hash
        in: path
      - description: Blockchain the NFT was minted on.
        required: false
        schema:
          title: Chain
          enum:
          - polygon
          - ethereum
          type: string
          description: Blockchain the NFT was minted on.
          default: polygon
        name: chain
        in: query
      responses:
        '200':
          description: Details of a successfully minted NFT which is on chain.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetMintedNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/mints/batch/{transaction_hash}":
    get:
      tags:
      - Product batch minting
      summary: Retrieve batch minted NFTs
      description: |-
        Returns the details of a batch minted NFTs for ERC1155 contracts.
        You need to provide  ```transaction_hash```  which is returned from [Batch customizable minting](../3.json/paths/~1v0~1mints~1customizable~1batch/post).
        Minting is not instantaneous because blockchains take time to verify transactions.
        Thus, you can poll this endpoint every 5 seconds until you get a response.

        #### Useful for:
        * Confirming that NFT minting was successful and the NFTs are on chain.

        #### Related:
        * For batch customizable minting, see [Batch customizable minting](../3.json/paths/~1v0~1mints~1customizable~1batch/post).
      operationId: get_batch_minted_nft_v0_mints_batch__transaction_hash__get
      parameters:
      - description: The transaction hash which was returned from Customizable minting.
        required: true
        schema:
          title: Transaction Hash
          type: string
          description: The transaction hash which was returned from Customizable minting.
        name: transaction_hash
        in: path
      - description: Blockchain the NFT was minted on.
        required: false
        schema:
          title: Chain
          enum:
          - polygon
          type: string
          description: Blockchain the NFT was minted on.
          default: polygon
        name: chain
        in: query
      responses:
        '200':
          description: Details of a successfully minted NFT which is on chain.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetBatchMintedNftResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/me/contracts":
    get:
      tags:
      - User
      summary: List all your deployed product contracts
      description: |-
        Returns a list of all the contracts you’ve previously deployed with [Deploy a contract for NFT products](../3.json/paths/~1v0~1contracts/post).

        #### Useful for:
        * Retrieving your contract creation history.

        #### Related:
        * To see all the NFTs you've previously minted, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
      operationId: get_user_contracts_v0_me_contracts_get
      responses:
        '200':
          description: List of all the contracts deployed by you.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetUserProfileContractsResponse"
      security:
      - APIKeyHeader: []
  "/v0/me/contracts/abis/{contract_address}":
    get:
      tags:
      - User
      summary: Get contract ABI
      description: "Returns the ABI for a contract you’ve previously deployed with
        \n[Deploy a contract for NFT products](../3.json/paths/~1v0~1contracts/post)
        or\n[Deploy a contract for NFT collections](../3.json/paths/~1v0~1contracts~1collections/post).\n\n####
        Useful for:\n* Retrieving your contract ABI, for direct on-chain contract
        calls.\n\n#### Related:\n* To see all the contracts you've previously deployed,
        see [List all your deployed contracts](../3.json/paths/~1v0~1me~1contracts/get).\n*
        If you want to learn how to use the [customizable minting](../3.json/paths/~1v0~1mints~1customizable/post),
        see [Customizable Minting Quickstart](docs/minting/Minting-Quickstart.md#customizable-minting)."
      operationId: get_user_contracts_abis_v0_me_contracts_abis__contract_address__get
      parameters:
      - description: Address of the NFT contract.
        required: true
        schema:
          title: Contract Address
          type: string
          description: Address of the NFT contract.
        name: contract_address
        in: path
      - description: Blockchain where the contract has been deployed to.
        required: false
        schema:
          title: Chain
          enum:
          - polygon
          - ethereum
          type: string
          description: Blockchain where the contract has been deployed to.
          default: polygon
        name: chain
        in: query
      responses:
        '200':
          description: ABI for provided contract
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetUserProfileContractsABIsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/me/contracts/collections":
    get:
      tags:
      - User
      summary: List all your deployed collection contracts
      description: |-
        Returns a list of all the collection contracts you’ve previously deployed.
        It can also return merkle proofs of all the whitelisted addresses with `include` set to `merkle_proofs`. These proofs can be used during presale/whitelisted minting.
        A Merkle proof is a series of hashes which can be combined with the Merkle tree root and and the node (address) it was generated for, to verify that the node is contained in the Merkle tree without having access to the entire tree.

        #### Useful for:
        * Retrieving collection-specific contract details.
        * Retrieving your collection contract creation history.
        * Getting merkle proofs of whitelisted addresses.
      operationId: get_user_contracts_collection_v0_me_contracts_collections_get
      parameters:
      - description: Blockchain where the contracts have been deployed to.
        required: false
        schema:
          title: Chain
          enum:
          - polygon
          - ethereum
          type: string
          description: Blockchain where the contracts have been deployed to.
          default: polygon
        name: chain
        in: query
      - description: Include optional data in the response. ```merkle_proofs``` includes
          Merkle proofs of all the whitelisted addresses in the contract.
        required: false
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/UserProfileContractsCollectionsInclude"
          description: Include optional data in the response. ```merkle_proofs```
            includes Merkle proofs of all the whitelisted addresses in the contract.
          default:
          - default
        name: include
        in: query
      responses:
        '200':
          description: List of all collection contracts you have deployed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetUserProfileContractsCollectionsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/me/mints":
    get:
      tags:
      - User
      summary: List all your minted NFTs
      description: |-
        Returns a list of all the NFTs you’ve previously minted with [Easy minting w/URL](../3.json/paths/~1v0~1mints~1easy~1urls/post), [Easy minting w/file upload](../3.json/paths/~1v0~1mints~1easy~1files/post) or [Customizable minting](../3.json/paths/~1v0~1mints~1customizable/post).

        For recently minted NFTs, it may take a few minutes until they appear in this response.

        #### Useful for:
        * Retrieving your NFT minting history.

        #### Related:
        * To see all the contracts you've previously deployed, see [List all your deployed contracts](../3.json/paths/~1v0~1me~1contracts/get).
        * To see all your previous IPFS uploads, see [List all your IPFS uploads](../3.json/paths/~1v0~1me~1storage/get).
      operationId: get_user_minted_nfts_v0_me_mints_get
      parameters:
      - description: Blockchain where the NFTs have been minted.
        required: false
        schema:
          title: Chain
          enum:
          - polygon
          - ethereum
          type: string
          description: Blockchain where the NFTs have been minted.
        name: chain
        in: query
      - description: The page number of the results to return. The first page is 1.
        required: false
        schema:
          title: Page Number
          minimum: 1
          type: integer
          description: The page number of the results to return. The first page is
            1.
          default: 1
        name: page_number
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 50, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 50
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 50, and the default is 50.
          default: 50
        name: page_size
        in: query
      responses:
        '200':
          description: List of all the NFTs minted by you.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetUserProfileMintedNftsResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/me/storage":
    get:
      tags:
      - User
      summary: List all your IPFS uploads
      description: |-
        Returns a list of all data uploaded to IPFS by you. This includes files, metadata and directories uploaded to IPFS.

        **Note: Only lists IPFS uploads created after 2022-03-21T12:10:00 UTC.**

        #### Useful for:
        * Retrieving your uploaded data to IPFS.

        #### Related:
        * To see all the NFTs you've previously minted, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
      operationId: get_user_storage_v0_me_storage_get
      parameters:
      - description: Type of storage.
        required: true
        schema:
          type: array
          items:
            "$ref": "#/components/schemas/StorageRequestType"
          description: Type of storage.
        name: type
        in: query
      - description: The page number of the results to return. The first page is 1.
        required: false
        schema:
          title: Page Number
          minimum: 1
          type: integer
          description: The page number of the results to return. The first page is
            1.
          default: 1
        name: page_number
        in: query
      - description: The number of results returned per page. Limit can range between
          1 and 500, and the default is 50.
        required: false
        schema:
          title: Page Size
          maximum: 500
          minimum: 1
          type: integer
          description: The number of results returned per page. Limit can range between
            1 and 500, and the default is 50.
          default: 50
        name: page_size
        in: query
      - description: 'Data uploaded to IPFS after this date (ISO) will be in the repsonse.
          Eg: 2022-02-24T11:30:48.'
        required: false
        schema:
          title: Start Date
          type: string
          description: 'Data uploaded to IPFS after this date (ISO) will be in the
            repsonse. Eg: 2022-02-24T11:30:48.'
        name: start_date
        in: query
      - description: 'Data uploaded to IPFS till this date (ISO) will be in the repsonse.
          Eg: 2022-03-19T19:45:48.'
        required: false
        schema:
          title: End Date
          type: string
          description: 'Data uploaded to IPFS till this date (ISO) will be in the
            repsonse. Eg: 2022-03-19T19:45:48.'
        name: end_date
        in: query
      responses:
        '200':
          description: List of all the data uploaded to IPFS by you.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetUserProfileStorageResponse"
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
      - APIKeyHeader: []
  "/v0/me/settings":
    get:
      tags:
      - User
      summary: User settings
      description: |-
        Retrieve your NFTPort settings to check your usage and limits.
        #### Useful for:
        * Checking your minting and contract deployment usage and limits.
        * Checking your NFT Data rate limits

        #### Related:
        * You can access the same information on your [NFTPort dashboard](https://dashboard.nftport.xyz).
        * To see your minted NFTs, see [List all your minted NFTs](../3.json/paths/~1v0~1me~1mints/get).
        * To see your deployed contracts, see [List all your deployed contracts](../3.json/paths/~1v0~1me~1contracts/get).
      operationId: get_user_settings_v0_me_settings_get
      responses:
        '200':
          description: Your API usage and limits.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetUserProfileSettingsResponse"
      security:
      - APIKeyHeader: []
  "/":
    get:
      summary: Root
      operationId: root__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    AccountContractsRequestType:
      title: AccountContractsRequestType
      enum:
      - owns_contract_nfts
      - owns_contracts
      type: string
      description: An enumeration.
    AccountContractsResponse:
      title: AccountContractsResponse
      required:
      - response
      - contracts
      - total
      type: object
      properties:
        response:
          title: Response
          type: string
          description: Response status, either OK or NOK.
        contracts:
          title: Contracts
          type: array
          items:
            "$ref": "#/components/schemas/ContractsModelResponse"
        total:
          title: Total
          type: integer
          description: Total number of contracts owned by the account address.
        continuation:
          title: Continuation
          type: string
          description: Continuation ID for next page.
      example:
        response: OK
        contracts:
        - name: Decentraland LAND
          symbol: LAND
          type: ERC721
          metadata:
            description: A collection of 10,000 utility-enabled PFPs that feature
              a richly diverse and unique pool of rarity-powered traits. What's more,
              each Moonbird unlocks private club membership and additional benefits
              the longer you hold them. We call it nesting – because, obviously.
            thumbnail_url: https://i.seadn.io/gae/H-eyNE1MwL5ohL-tCfn_Xa1Sl9M9B4612tLYeUlQubzt4ewhr4huJIR5OLuyO3Z5PpJFSwdm7rq-TikAh7f5eUw338A2cy6HRH75?w=500&auto=format
            cached_thumbnail_url: https://storage.googleapis.com/sentinel-nft/raw-assets/e317daadcd67dede885ecda7023275dcf2714c7d9093ebdadd9923a129f0d635.png
            banner_url: https://i.seadn.io/gae/ouzjfA0LotbHC92vuDph9JDeg7Z4ZFo12Pr9GJpfSAZSrnXDOubJn0eTvinwzUTPsWhnLLq5ocjcDSrpNV0_MYIjueVJrzFlE6p0?w=500&auto=format
            cached_banner_url: https://storage.googleapis.com/sentinel-nft/raw-assets/2aa3577c4f1dff4303cf3c340197cf84e6155597ee49a20bffdd3e3fc82ea128.png
          address: '0xf87e31492faf9a91b02ee0deaad50d51d56d5d4d'
          num_nfts_owned: 3
        total: 12
    AccountNft:
      title: AccountNft
      required:
      - contract_address
      - token_id
      type: object
      properties:
        contract_address:
          title: Contract Address
          type: string
          description: The contract address of the NFT.
        token_id:
          title: Token Id
          type: string
          description: A unique ```uint256``` ID inside the contract. The contract
            address and token ID pair is a globally unique and fully-qualified identifier
            for a specific NFT on chain.
        name:
          title: Name
          type: string
          description: Name of the NFT.
        description:
          title: Description
          type: string
          description: Description of the NFT.
        file_url:
          title: File Url
          type: string
          description: File (image, video, etc) URL of the NFT.
        animation_url:
          title: Animation Url
          type: string
          description: URL of multi-media file set in the NFT metadata. Most commonly
            used file types are GLTF, GLB, WEBM, MP4, M4V, OGV, OGG, along with audio
            MP3, WAV, and OGA. Also HTML pages, allowing to build rich experiences
            and interactive NFTs using JavaScript canvas, WebGL, and more.
        cached_file_url:
          title: Cached File Url
          type: string
          description: Cached file (image, video, etc) in NFTPort's cloud with no
            access restrictions, low latency and high availability.
        cached_animation_url:
          title: Cached Animation Url
          type: string
          description: Cached URL of animated file (video, gif, etc) as set in the
            NFT metadata. This URL points to a file cached in NFTPort's cloud storage
            with no access restrictions, low latency and high availability.
        creator_address:
          title: Creator Address
          type: string
          description: NFT creator address.
        metadata:
          title: Metadata
          type: object
          description: Raw NFT metadata downloaded from the metadata_url i.e. token
            URI. It usually includes the name, description and attributes along with
            any other data added by the creator.
        metadata_url:
          title: Metadata Url
          type: string
          description: Metadata URL inside the contract for a given token, also known
            as the token URI. For ERC-721 it is the token_uri() function and for ERC-1155
            it is the uri() function in the smart contract.
        file_information:
          title: File Information
          allOf:
          - "$ref": "#/components/schemas/NftAssetMetadata"
          description: Extra information of the NFT’s file.
        contract:
          title: Contract
          allOf:
          - "$ref": "#/components/schemas/ContractInfoResponse"
          description: Information of the NFT’s contract.
      example:
        contract_address: KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton
        token_id: '159383'
        name: Cool name
[...]
