{
  "openapi": "3.1.0",
  "info": {
    "title": "Booking.com Demand API",
    "version": "3.1"
  },
  "servers": [
    {
      "url": "https://demandapi-sandbox.booking.com/3.1"
    },
    {
      "url": "https://demandapi.booking.com/3.1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "string"
      }
    },
    "parameters": {
      "AffiliateIdHeader": {
        "in": "header",
        "name": "X-Affiliate-Id",
        "schema": {
          "type": "integer"
        },
        "required": true,
        "description": "Affiliate identifier"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "accommodations",
      "description": "Endpoints and sections specific to the accommodations travel vertical: hotels, apartments, etc."
    },
    {
      "name": "common/locations",
      "description": "Generic endpoints related with geographical locations: countries, cities, etc."
    },
    {
      "name": "common/payments",
      "description": "Generic endpoints related to payments and finance: currencies, payment types, etc."
    }
  ],
  "paths": {
    "/accommodations/availability": {
      "post": {
        "summary": "Get a property's availability",
        "description": "This endpoint returns detailed product availability, price and charges of the accommodation matching a given search criteria. By default, only product availability and price is returned. To receive extended information use the `extras` parameter. Is is mandatory to pass the input parameters: accommodation, booker, checkin, checkout and guest.",
        "operationId": "/accommodations/availability",
        "parameters": [
          {
            "$ref": "#/components/parameters/AffiliateIdHeader"
          }
        ],
        "tags": [
          "accommodations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accommodation": {
                    "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](#/accommodations/details).",
                    "type": "integer",
                    "minimum": 1
                  },
                  "booker": {
                    "description": "The booker's information.",
                    "type": "object",
                    "properties": {
                      "country": {
                        "description": "The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.",
                        "type": "string",
                        "pattern": "^[a-z]{2}$"
                      },
                      "platform": {
                        "description": "The booker platform for showing the platform based deals and prices.",
                        "type": "string",
                        "enum": [
                          "android",
                          "desktop",
                          "ios",
                          "mobile",
                          "tablet"
                        ]
                      },
                      "travel_purpose": {
                        "description": "The travel purpose of the booker.",
                        "type": "string",
                        "enum": [
                          "business",
                          "leisure"
                        ]
                      },
                      "user_groups": {
                        "description": "The user groups that the booker is a member of.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "authenticated"
                          ]
                        }
                      }
                    },
                    "required": [
                      "country",
                      "platform"
                    ]
                  },
                  "checkin": {
                    "description": "The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "checkout": {
                    "description": "The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "currency": {
                    "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling [common/payments/currencies](#/common/payments/currencies).",
                    "type": "string",
                    "pattern": "^[A-Z]{3}$",
                    "example": "EUR"
                  },
                  "extras": {
                    "description": "Input parameter to request for additional information about this product.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "extra_charges"
                      ]
                    }
                  },
                  "guests": {
                    "description": "The guest details for the request.",
                    "type": "object",
                    "properties": {
                      "allocation": {
                        "description": "The exact allocation of guests to rooms.",
                        "type": "array",
                        "items": {
                          "properties": {
                            "children": {
                              "description": "The children ages for this room.",
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 17
                              }
                            },
                            "number_of_adults": {
                              "description": "The number of adults for this room.",
                              "type": "integer",
                              "minimum": 1
                            }
                          },
                          "required": [
                            "number_of_adults"
                          ]
                        }
                      },
                      "children": {
                        "description": "Array with the children ages.",
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 17
                        }
                      },
                      "number_of_adults": {
                        "description": "The number of adults for the search.",
                        "type": "integer",
                        "minimum": 1
                      },
                      "number_of_rooms": {
                        "description": "The number of rooms needed.",
                        "type": "integer",
                        "minimum": 1
                      }
                    },
                    "required": [
                      "number_of_adults",
                      "number_of_rooms"
                    ]
                  },
                  "payment": {
                    "description": "Payment input information to filter results.",
                    "properties": {
                      "timing": {
                        "description": "This parameter specifies that the results should only return accommodation and blocks that contain the specified payment timings.",
                        "type": "string",
                        "enum": [
                          "pay_at_the_property",
                          "pay_online"
                        ]
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "description": "Unique ID of the product.",
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "accommodation",
                  "booker",
                  "checkin",
                  "checkout",
                  "guests"
                ]
              },
              "example": {
                "accommodation": 10004,
                "booker": {
                  "country": "nl",
                  "platform": "desktop"
                },
                "checkin": "!START_DATE!",
                "checkout": "!END_DATE!",
                "extras": [
                  "extra_charges"
                ],
                "guests": {
                  "number_of_adults": 2,
                  "number_of_rooms": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Uniquely identifies the request. Please provide this identifier when contacting support.",
                      "type": "string"
                    },
                    "data": {
                      "description": "",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](#/accommodations/details).",
                          "type": "integer",
                          "minimum": 1
                        },
                        "currency": {
                          "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling [common/payments/currencies](#/common/payments/currencies).",
                          "type": "string",
                          "pattern": "^[A-Z]{3}$",
                          "example": "EUR"
                        },
                        "deep_link_url": {
                          "description": "Deep link mobile app URL.",
                          "type": "string",
                          "format": "url"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "description": "",
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Unique ID of the product.",
                                "type": "string"
                              },
                              "deal": {
                                "description": "This specifies the deal tagging for the product.",
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "discount_percentage": {
                                    "description": "Discount percentage of the applied deal.",
                                    "type": "integer",
                                    "minimum": 1
                                  },
                                  "public_price": {
                                    "description": "Original price of this product, before applying any discounts.",
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "tags": {
                                    "description": "The tags of all the applied deals.",
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "black_friday",
                                        "genius",
                                        "limited_time_deal",
                                        "logged_in_deal",
                                        "mobile_rate",
                                        "seasonal_deal"
                                      ]
                                    }
                                  }
                                }
                              },
                              "maximum_occupancy": {
                                "description": "Information related to maximum number of occupancy inside the room.",
                                "type": "object",
                                "properties": {
                                  "adults": {
                                    "description": "The maximum number of adults for this room.",
                                    "type": "integer",
                                    "minimum": 1
                                  },
                                  "children": {
                                    "description": "The information about maximum number of children and their allowed ages for this room.",
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "total": {
                                          "description": "The maximum number of children for this room.",
                                          "type": "integer",
                                          "minimum": 1
                                        },
                                        "from_age": {
                                          "description": "The youngest age of the children allowed in this room.",
                                          "type": "integer",
                                          "minimum": 0,
                                          "maximum": 17
                                        },
                                        "to_age": {
                                          "description": "The oldest age of the children allowed in this room.",
                                          "type": "integer",
                                          "minimum": 0,
                                          "maximum": 17
                                        }
                                      }
                                    }
                                  },
                                  "total": {
                                    "description": "The maximum number of guests for this room.",
                                    "type": "integer",
                                    "minimum": 1
                                  }
                                }
                              },
                              "number_available_at_this_price": {
                                "description": "Number of rooms available at this price.",
                                "type": "integer",
                                "minimum": 1
                              },
                              "policies": {
                                "description": "The policies for this product.",
                                "type": "object",
                                "properties": {
                                  "cancellation": {
                                    "description": "The cancellation policy for this product.",
                                    "type": "object",
                                    "properties": {
                                      "free_cancellation_until": {
                                        "description": "Until when the order for this product can be cancelled for free.",
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                      },
                                      "type": {
                                        "description": "The cancellation scheme supported by this product.",
                                        "type": "string",
                                        "enum": [
                                          "free_cancellation",
                                          "non_refundable",
                                          "special_conditions"
                                        ]
                                      }
                                    }
                                  },
                                  "meal_plan": {
                                    "description": "The meal plan policy for this product.",
                                    "type": "object",
                                    "properties": {
                                      "meals": {
                                        "description": "The meals included in the meal plan.",
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "enum": [
                                            "breakfast",
                                            "dinner",
                                            "lunch"
                                          ]
                                        }
                                      },
                                      "plan": {
                                        "description": "The meal plan included in this product.",
                                        "type": "string",
                                        "enum": [
                                          "all_inclusive",
                                          "breakfast_included",
                                          "full_board",
                                          "half_board",
                                          "no_plan"
                                        ]
                                      }
                                    }
                                  },
                                  "payment": {
                                    "description": "Payment terms and conditions for this product.",
                                    "type": "object",
                                    "properties": {
                                      "timings": {
                                        "description": "The payment timings supported by this product.",
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "enum": [
                                            "pay_at_the_property",
                                            "pay_online_later",
                                            "pay_online_now"
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "price": {
                                "description": "The price components of this product. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').",
                                "type": "object",
                                "properties": {
                                  "base": {
                                    "description": "The base price. Does not include any extra charges.",
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "book": {
                                    "description": "The price that will be charged by Booking.com.",
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "extra_charges": {
                                    "description": "The charge breakdown. Includes taxes and fees.",
                                    "type": "object",
                                    "properties": {
                                      "conditional": {
                                        "description": "Charges that might apply under a specific condition.",
                                        "type": "array",
                                        "items": {
                                          "description": "Charges that might apply under a specific condition.",
                                          "type": "object",
                                          "properties": {
                                            "charge": {
                                              "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling [accommodations/constants](#/accommodations/constants).",
                                              "type": "integer",
                                              "minimum": 0
                                            },
                                            "condition": {
                                              "description": "A signed integer number that uniquely identifies the condition ID. The full list can be seen in external documentation",
                                              "type": "integer",
                                              "minimum": 0
                                            },
                                            "mode": {
                                              "description": "The mode of this charge. Determines how the price is calculated.",
                                              "type": "string",
                                              "enum": [
                                                "calculated_amount",
                                                "percentage",
                                                "per_night",
                                                "per_person_per_night",
                                                "per_person_per_stay",
                                                "per_stay"
                                              ]
                                            },
                                            "percentage": {
                                              "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0,
                                              "nullable": true
                                            },
                                            "total_amount": {
                                              "description": "The total price for this charge.",
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0
                                            },
                                            "unit_amount": {
                                              "description": "The price per unit for this charge. Only applicable when 'mode' is 'per_night', 'per_person_per_night', or 'per_person_per_stay'.",
                                              "nullable": true,
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0
                                            }
                                          }
                                        }
                                      },
                                      "excluded": {
                                        "description": "Charges not included in 'book'.",
                                        "type": "array",
                                        "items": {
                                          "description": "All non-conditional charges that will necessarily be paid.",
                                          "type": "object",
                                          "properties": {
                                            "charge": {
                                              "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling [accommodations/constants](#/accommodations/constants).",
                                              "type": "integer",
                                              "minimum": 0
                                            },
                                            "mode": {
                                              "description": "The mode of this charge. Determines how the price is calculated.",
                                              "type": "string",
                                              "enum": [
                                                "calculated_amount",
                                                "incalculable",
                                                "percentage",
                                                "per_night",
                                                "per_person_per_night",
                                                "per_person_per_stay",
                                                "per_stay"
                                              ]
                                            },
                                            "percentage": {
                                              "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0,
                                              "nullable": true
                                            },
                                            "total_amount": {
                                              "description": "The total price for this charge.",
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0
                                            },
                                            "unit_amount": {
                                              "description": "The price per unit for this charge. Only applicable when 'mode' is 'per_night', 'per_person_per_night', or 'per_person_per_stay'.",
                                              "nullable": true,
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0
                                            }
                                          }
                                        }
                                      },
                                      "included": {
                                        "description": "Charges included in 'book'.",
                                        "type": "array",
                                        "items": {
                                          "description": "All non-conditional charges that will necessarily be paid.",
                                          "type": "object",
                                          "properties": {
                                            "charge": {
                                              "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling [accommodations/constants](#/accommodations/constants).",
                                              "type": "integer",
                                              "minimum": 0
                                            },
                                            "mode": {
                                              "description": "The mode of this charge. Determines how the price is calculated.",
                                              "type": "string",
                                              "enum": [
                                                "calculated_amount",
                                                "incalculable",
                                                "percentage",
                                                "per_night",
                                                "per_person_per_night",
                                                "per_person_per_stay",
                                                "per_stay"
                                              ]
                                            },
                                            "percentage": {
                                              "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0,
                                              "nullable": true
                                            },
                                            "total_amount": {
                                              "description": "The total price for this charge.",
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0
                                            },
                                            "unit_amount": {
                                              "description": "The price per unit for this charge. Only applicable when 'mode' is 'per_night', 'per_person_per_night', or 'per_person_per_stay'.",
                                              "nullable": true,
                                              "type": "number",
                                              "multipleOf": 0.01,
                                              "exclusiveMinimum": 0
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "total": {
                                    "description": "The total price. Includes all extra charges.",
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  }
                                }
                              },
                              "room": {
                                "description": "A signed integer number that uniquely identifies an accommodation property room. The full list can be obtained by calling [accommodations/details](#/accommodations/details).",
                                "type": "integer",
                                "minimum": 1
                              },
                              "third_party_inventory": {
                                "description": "Boolean value is \"true\" if the product is facilitated by a Booking.com partner company and \"false\" otherwise.",
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "recommendation": {
                          "description": "The products recommended for the provided search criteria.",
                          "type": "object",
                          "properties": {
                            "price": {
                              "description": "The price components of this product or selection of products. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').",
                              "type": "object",
                              "properties": {
                                "base": {
                                  "description": "The base price. Does not include any extra charges.",
                                  "type": "number",
                                  "multipleOf": 0.01,
                                  "exclusiveMinimum": 0
                                },
                                "book": {
                                  "description": "The price that will be charged by Booking.com.",
                                  "type": "number",
                                  "multipleOf": 0.01,
                                  "exclusiveMinimum": 0
                                },
                                "extra_charges": {
                                  "description": "The charge breakdown. Includes taxes and fees.",
                                  "type": "object",
                                  "properties": {
                                    "excluded": {
                                      "description": "Charges not included in 'book'.",
                                      "type": "number",
                                      "format": "double",
                                      "minimum": 0
                                    },
                                    "included": {
                                      "description": "Charges included in 'book'.",
                                      "type": "number",
                                      "format": "double",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "total": {
                                  "description": "The total price. Includes all extra charges.",
                                  "type": "number",
                                  "multipleOf": 0.01,
                                  "exclusiveMinimum": 0
                                }
                              }
                            },
                            "products": {
                              "description": "",
                              "type": "array",
                              "items": {
                                "description": "",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "description": "Unique ID of the product.",
                                    "type": "string"
                                  },
                                  "children": {
                                    "description": "The ages of the children allocated to this product.",
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 17
                                    }
                                  },
                                  "number_of_adults": {
                                    "description": "The number of adults allocated to this product.",
                                    "type": "integer",
                                    "minimum": 1
                                  },
                                  "price": {
                                    "description": "The price components of this product or selection of products. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').",
                                    "type": "object",
                                    "properties": {
                                      "base": {
                                        "description": "The base price. Does not include any extra charges.",
                                        "type": "number",
                                        "multipleOf": 0.01,
                                        "exclusiveMinimum": 0
                                      },
                                      "book": {
                                        "description": "The price that will be charged by Booking.com.",
                                        "type": "number",
                                        "multipleOf": 0.01,
                                        "exclusiveMinimum": 0
                                      },
                                      "extra_charges": {
                                        "description": "The charge breakdown. Includes taxes and fees.",
                                        "type": "object",
                                        "properties": {
                                          "excluded": {
                                            "description": "Charges not included in 'book'.",
                                            "type": "number",
                                            "format": "double",
                                            "minimum": 0
                                          },
                                          "included": {
                                            "description": "Charges included in 'book'.",
                                            "type": "number",
                                            "format": "double",
                                            "minimum": 0
                                          }
                                        }
                                      },
                                      "total": {
                                        "description": "The total price. Includes all extra charges.",
                                        "type": "number",
                                        "multipleOf": 0.01,
                                        "exclusiveMinimum": 0
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "url": {
                          "description": "Internet address for the property page on Booking.com.",
                          "type": "string",
                          "format": "url"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "request_id": "01fr9ez700exycb98w90w5r9sh",
                  "data": {
                    "id": 10004,
                    "currency": "EUR",
                    "deep_link_url": "booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!",
                    "products": [
                      {
                        "id": "1000420_358188572_2_0_0",
                        "deal": null,
                        "maximum_occupancy": {
                          "adults": 2,
                          "children": null,
                          "total": 2
                        },
                        "number_available_at_this_price": 3,
                        "policies": {
                          "cancellation": {
                            "free_cancellation_until": "!START_DATE-2!T00:00:00+00:00",
                            "type": "free_cancellation"
                          },
                          "meal_plan": {
                            "meals": [],
                            "plan": "no_plan"
                          },
                          "payment": {
                            "timings": [
                              "pay_at_the_property"
                            ]
                          }
                        },
                        "price": {
                          "base": 1189.63,
                          "book": 1385.97,
                          "extra_charges": {
                            "conditional": [],
                            "excluded": [],
                            "included": [
                              {
                                "charge": 21,
                                "mode": "percentage",
                                "percentage": 9,
                                "total_amount": 107.07,
                                "unit_amount": null
                              },
                              {
                                "charge": 22,
                                "mode": "percentage",
                                "percentage": 7,
                                "total_amount": 83.27,
                                "unit_amount": null
                              },
                              {
                                "charge": 142,
                                "mode": "per_person_per_night",
                                "percentage": null,
                                "total_amount": 6,
                                "unit_amount": 3
                              }
                            ]
                          },
                          "total": 1385.97
                        },
                        "room": 1000420,
                        "third_party_inventory": true
                      },
                      "..."
                    ],
                    "recommendation": {
                      "price": {
                        "base": 1081.49,
                        "book": 1260.52,
                        "extra_charges": {
                          "excluded": 0,
                          "included": 179.04
                        },
                        "total": 1260.52
                      },
                      "products": [
                        {
                          "id": "1000420_95127794_2_0_0",
                          "children": [],
                          "number_of_adults": 2,
                          "price": {
                            "base": 1081.49,
                            "book": 1260.52,
                            "extra_charges": {
                              "excluded": 0,
                              "included": 179.04
                            },
                            "total": 1260.52
                          }
                        }
                      ]
                    },
                    "url": "https://www.booking.com/hotel/nl/toren.html?aid=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&no_rooms=1&group_adults=2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accommodations/bulk-availability": {
      "post": {
        "summary": "List properties' availabilities",
        "description": "This endpoint returns detailed product availability, price and charges of a list of accommodations. By default, only product availability and price is returned. To receive extended information use the `extras` parameter. Is is mandatory to pass the input parameters: accommodations, booker, checkin, checkout and guests.",
        "operationId": "/accommodations/bulk-availability",
        "parameters": [
          {
            "$ref": "#/components/parameters/AffiliateIdHeader"
          }
        ],
        "tags": [
          "accommodations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accommodations": {
                    "type": "array",
                    "items": {
                      "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](#/accommodations/details).",
                      "type": "integer",
                      "minimum": 1
                    },
                    "maxItems": 50
                  },
                  "booker": {
                    "description": "The booker's information.",
                    "type": "object",
                    "properties": {
                      "country": {
                        "description": "The booker country for showing the best price for that user and obeying laws regarding the display of taxes and fees.",
                        "type": "string",
                        "pattern": "^[a-z]{2}$"
                      },
                      "platform": {
                        "description": "The booker platform for showing the platform based deals and prices.",
                        "type": "string",
                        "enum": [
                          "android",
                          "desktop",
                          "ios",
                          "mobile",
                          "tablet"
                        ]
                      },
                      "travel_purpose": {
                        "description": "The travel purpose of the booker.",
                        "type": "string",
                        "enum": [
                          "business",
                          "leisure"
                        ]
                      },
                      "user_groups": {
                        "description": "The user groups that the booker is a member of.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "authenticated"
                          ]
                        }
                      }
                    },
                    "required": [
                      "country",
                      "platform"
                    ]
                  },
                  "checkin": {
                    "description": "The checkin date. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "checkout": {
                    "description": "The checkout date. Must be later than {checkin}. Must be between 1 and 90 days after {checkin}. Must be within 500 days in the future and in the format yyyy-mm-dd.",
                    "type": "string",
                    "format": "date"
                  },
                  "currency": {
                    "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling [common/payments/currencies](#/common/payments/currencies).",
                    "type": "string",
                    "pattern": "^[A-Z]{3}$",
                    "example": "EUR"
                  },
                  "extras": {
                    "description": "Input parameter to request for additional information about this product.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "extra_charges"
                      ]
                    }
                  },
                  "filters": {
                    "description": "The filters to apply in this availability request.",
                    "type": "object",
                    "properties": {
                      "cancellation_type": {
                        "description": "Filters the result for the cancellation type specified. Possible values are free_cancellation & non_refundable. If cancellation_type is free_cancellation, the result will contain all the products with free_cancellation.",
                        "type": "string",
                        "enum": [
                          "free_cancellation",
                          "non_refundable"
                        ]
                      },
                      "meal_plan": {
                        "description": "Filter the result based on the selected meal plan. Example: When specified breakfast_included, it will show the product with free breakfast.",
                        "type": "string",
                        "enum": [
                          "all_inclusive",
                          "breakfast_included",
                          "full_board",
                          "half_board"
                        ]
                      },
                      "payment": {
                        "description": "Payment input information to filter results.",
                        "properties": {
                          "timing": {
                            "description": "This parameter specifies that the results should only return accommodation and blocks that contain the specified payment timings.",
                            "type": "string",
                            "enum": [
                              "pay_at_the_property",
                              "pay_online"
                            ]
                          }
                        }
                      },
                      "third_party_inventory": {
                        "description": "Whether to include third party inventory in the response",
                        "type": "boolean"
                      }
                    }
                  },
                  "guests": {
                    "description": "The guest details for the request.",
                    "type": "object",
                    "properties": {
                      "allocation": {
                        "description": "The exact allocation of guests to rooms.",
                        "type": "array",
                        "items": {
                          "properties": {
                            "children": {
                              "description": "The children ages for this room.",
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 17
                              }
                            },
                            "number_of_adults": {
                              "description": "The number of adults for this room.",
                              "type": "integer",
                              "minimum": 1
                            }
                          },
                          "required": [
                            "number_of_adults"
                          ]
                        }
                      },
                      "children": {
                        "description": "Array with the children ages.",
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 17
                        }
                      },
                      "number_of_adults": {
                        "description": "The number of adults for the search.",
                        "type": "integer",
                        "minimum": 1
                      },
                      "number_of_rooms": {
                        "description": "The number of rooms needed.",
                        "type": "integer",
                        "minimum": 1
                      }
                    },
                    "required": [
                      "number_of_adults",
                      "number_of_rooms"
                    ]
                  }
                },
                "required": [
                  "accommodations",
                  "booker",
                  "checkin",
                  "checkout",
                  "guests"
                ]
              },
              "example": {
                "accommodations": [
                  10004
                ],
                "booker": {
                  "country": "nl",
                  "platform": "desktop"
                },
                "checkin": "!START_DATE!",
                "checkout": "!END_DATE!",
                "extras": [
                  "extra_charges"
                ],
                "filters": {
                  "meal_plan": "breakfast_included",
                  "cancellation_type": "free_cancellation"
                },
                "guests": {
                  "number_of_adults": 2,
                  "number_of_rooms": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Uniquely identifies the request. Please provide this identifier when contacting support.",
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "A signed integer number that uniquely identifies an accommodation property. The full list can be obtained by calling [accommodations/details](#/accommodations/details).",
                            "type": "integer",
                            "minimum": 1
                          },
                          "currency": {
                            "description": "A three-letter code that uniquely identifies a monetary currency as defined by the ISO 4217 standard. The full list can be obtained by calling [common/payments/currencies](#/common/payments/currencies).",
                            "type": "string",
                            "pattern": "^[A-Z]{3}$",
                            "example": "EUR"
                          },
                          "deep_link_url": {
                            "description": "Deep link mobile app URL.",
                            "type": "string",
                            "format": "url"
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "description": "Details product information.",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Unique ID of the product.",
                                  "type": "string"
                                },
                                "deal": {
                                  "description": "This specifies the deal tagging for the product.",
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "discount_percentage": {
                                      "description": "Discount percentage of the applied deal.",
                                      "type": "integer",
                                      "minimum": 1
                                    },
                                    "public_price": {
                                      "description": "Original price of this product, before applying any discounts.",
                                      "type": "number",
                                      "multipleOf": 0.01,
                                      "exclusiveMinimum": 0
                                    },
                                    "tags": {
                                      "description": "The tags of all the applied deals.",
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "black_friday",
                                          "genius",
                                          "limited_time_deal",
                                          "logged_in_deal",
                                          "mobile_rate",
                                          "seasonal_deal"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "maximum_occupancy": {
                                  "description": "Information related to maximum number of occupancy inside the room.",
                                  "type": "object",
                                  "properties": {
                                    "adults": {
                                      "description": "The maximum number of adults for this room.",
                                      "type": "integer",
                                      "minimum": 1
                                    },
                                    "children": {
                                      "description": "The information about maximum number of children and their allowed ages for this room.",
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "total": {
                                            "description": "The maximum number of children for this room.",
                                            "type": "integer",
                                            "minimum": 1
                                          },
                                          "from_age": {
                                            "description": "The youngest age of the children allowed in this room.",
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 17
                                          },
                                          "to_age": {
                                            "description": "The oldest age of the children allowed in this room.",
                                            "type": "integer",
                                            "minimum": 0,
                                            "maximum": 17
                                          }
                                        }
                                      }
                                    },
                                    "total": {
                                      "description": "The maximum number of guests for this room.",
                                      "type": "integer",
                                      "minimum": 1
                                    }
                                  }
                                },
                                "number_available": {
                                  "description": "How many units of this product are still available.",
                                  "type": "integer",
                                  "minimum": 1
                                },
                                "policies": {
                                  "description": "The policies for this product.",
                                  "type": "object",
                                  "properties": {
                                    "cancellation": {
                                      "description": "The cancellation policy for this product.",
                                      "type": "object",
                                      "properties": {
                                        "free_cancellation_until": {
                                          "description": "Until when the order for this product can be cancelled for free.",
                                          "type": "string",
                                          "format": "date-time",
                                          "nullable": true
                                        },
                                        "type": {
                                          "description": "The cancellation scheme supported by this product.",
                                          "type": "string",
                                          "enum": [
                                            "free_cancellation",
                                            "non_refundable",
                                            "special_conditions"
                                          ]
                                        }
                                      }
                                    },
                                    "meal_plan": {
                                      "description": "The meal plan policy for this product.",
                                      "type": "object",
                                      "properties": {
                                        "meals": {
                                          "description": "The meals included in the meal plan.",
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "enum": [
                                              "breakfast",
                                              "dinner",
                                              "lunch"
                                            ]
                                          }
                                        },
                                        "plan": {
                                          "description": "The meal plan included in this product.",
                                          "type": "string",
                                          "enum": [
                                            "all_inclusive",
                                            "breakfast_included",
                                            "full_board",
                                            "half_board",
                                            "no_plan"
                                          ]
                                        }
                                      }
                                    },
                                    "payment": {
                                      "description": "Payment terms and conditions for this product.",
                                      "type": "object",
                                      "properties": {
                                        "timings": {
                                          "description": "The payment timings supported by this product.",
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "enum": [
                                              "pay_at_the_property",
                                              "pay_online_later",
                                              "pay_online_now"
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "price": {
                                  "description": "The price components of this product. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').",
                                  "type": "object",
                                  "properties": {
                                    "base": {
                                      "description": "The base price. Does not include any extra charges.",
                                      "type": "number",
                                      "multipleOf": 0.01,
                                      "exclusiveMinimum": 0
                                    },
                                    "book": {
                                      "description": "The price that will be charged by Booking.com.",
                                      "type": "number",
                                      "multipleOf": 0.01,
                                      "exclusiveMinimum": 0
                                    },
                                    "extra_charges": {
                                      "description": "The charge breakdown. Includes taxes and fees.",
                                      "type": "object",
                                      "properties": {
                                        "conditional": {
                                          "description": "Charges that might apply under a specific condition.",
                                          "type": "array",
                                          "items": {
                                            "description": "Charges that might apply under a specific condition.",
                                            "type": "object",
                                            "properties": {
                                              "charge": {
                                                "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling [accommodations/constants](#/accommodations/constants).",
                                                "type": "integer",
                                                "minimum": 0
                                              },
                                              "condition": {
                                                "description": "A signed integer number that uniquely identifies the condition ID. The full list can be seen in external documentation",
                                                "type": "integer",
                                                "minimum": 0
                                              },
                                              "mode": {
                                                "description": "The mode of this charge. Determines how the price is calculated.",
                                                "type": "string",
                                                "enum": [
                                                  "calculated_amount",
                                                  "percentage",
                                                  "per_night",
                                                  "per_person_per_night",
                                                  "per_person_per_stay",
                                                  "per_stay"
                                                ]
                                              },
                                              "percentage": {
                                                "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0,
                                                "nullable": true
                                              },
                                              "total_amount": {
                                                "description": "The total price for this charge.",
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              },
                                              "unit_amount": {
                                                "description": "The price per unit for this charge. Only applicable when 'mode' is 'per_night', 'per_person_per_night', or 'per_person_per_stay'.",
                                                "nullable": true,
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              }
                                            }
                                          }
                                        },
                                        "excluded": {
                                          "description": "Charges not included in 'book'.",
                                          "type": "array",
                                          "items": {
                                            "description": "All non-conditional charges that will necessarily be paid.",
                                            "type": "object",
                                            "properties": {
                                              "charge": {
                                                "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling [accommodations/constants](#/accommodations/constants).",
                                                "type": "integer",
                                                "minimum": 0
                                              },
                                              "mode": {
                                                "description": "The mode of this charge. Determines how the price is calculated.",
                                                "type": "string",
                                                "enum": [
                                                  "calculated_amount",
                                                  "incalculable",
                                                  "percentage",
                                                  "per_night",
                                                  "per_person_per_night",
                                                  "per_person_per_stay",
                                                  "per_stay"
                                                ]
                                              },
                                              "percentage": {
                                                "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0,
                                                "nullable": true
                                              },
                                              "total_amount": {
                                                "description": "The total price for this charge.",
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              },
                                              "unit_amount": {
                                                "description": "The price per unit for this charge. Only applicable when 'mode' is 'per_night', 'per_person_per_night', or 'per_person_per_stay'.",
                                                "nullable": true,
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              }
                                            }
                                          }
                                        },
                                        "included": {
                                          "description": "Charges included in 'book'.",
                                          "type": "array",
                                          "items": {
                                            "description": "All non-conditional charges that will necessarily be paid.",
                                            "type": "object",
                                            "properties": {
                                              "charge": {
                                                "description": "A signed integer number that uniquely identifies an accommodation charge type. Examples of charges are: VAT, City Tax, etc. The full list can be obtained by calling [accommodations/constants](#/accommodations/constants).",
                                                "type": "integer",
                                                "minimum": 0
                                              },
                                              "mode": {
                                                "description": "The mode of this charge. Determines how the price is calculated.",
                                                "type": "string",
                                                "enum": [
                                                  "calculated_amount",
                                                  "incalculable",
                                                  "percentage",
                                                  "per_night",
                                                  "per_person_per_night",
                                                  "per_person_per_stay",
                                                  "per_stay"
                                                ]
                                              },
                                              "percentage": {
                                                "description": "The percentage of 'base' that this charge amounts to. Only applicable when 'mode' is 'percentage'.",
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0,
                                                "nullable": true
                                              },
                                              "total_amount": {
                                                "description": "The total price for this charge.",
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              },
                                              "unit_amount": {
                                                "description": "The price per unit for this charge. Only applicable when 'mode' is 'per_night', 'per_person_per_night', or 'per_person_per_stay'.",
                                                "nullable": true,
                                                "type": "number",
                                                "multipleOf": 0.01,
                                                "exclusiveMinimum": 0
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "total": {
                                      "description": "The total price. Includes all extra charges.",
                                      "type": "number",
                                      "multipleOf": 0.01,
                                      "exclusiveMinimum": 0
                                    }
                                  }
                                },
                                "room": {
                                  "description": "A signed integer number that uniquely identifies an accommodation property room. The full list can be obtained by calling [accommodations/details](#/accommodations/details).",
                                  "type": "integer",
                                  "minimum": 1
                                },
                                "third_party_inventory": {
                                  "description": "Boolean value is \"true\" if the product is facilitated by a Booking.com partner company and \"false\" otherwise.",
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "recommendation": {
                            "description": "The products recommended for the provided search criteria.",
                            "type": "object",
                            "properties": {
                              "price": {
                                "description": "The price components of this product or selection of products. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').",
                                "type": "object",
                                "properties": {
                                  "base": {
                                    "description": "The base price. Does not include any extra charges.",
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "book": {
                                    "description": "The price that will be charged by Booking.com.",
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  },
                                  "extra_charges": {
                                    "description": "The charge breakdown. Includes taxes and fees.",
                                    "type": "object",
                                    "properties": {
                                      "excluded": {
                                        "description": "Charges not included in 'book'.",
                                        "type": "number",
                                        "format": "double",
                                        "minimum": 0
                                      },
                                      "included": {
                                        "description": "Charges included in 'book'.",
                                        "type": "number",
                                        "format": "double",
                                        "minimum": 0
                                      }
                                    }
                                  },
                                  "total": {
                                    "description": "The total price. Includes all extra charges.",
                                    "type": "number",
                                    "multipleOf": 0.01,
                                    "exclusiveMinimum": 0
                                  }
                                }
                              },
                              "products": {
                                "description": "",
                                "type": "array",
                                "items": {
                                  "description": "",
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "description": "Unique ID of the product.",
                                      "type": "string"
                                    },
                                    "children": {
                                      "description": "The ages of the children allocated to this product.",
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 17
                                      }
                                    },
                                    "number_of_adults": {
                                      "description": "The number of adults allocated to this product.",
                                      "type": "integer",
                                      "minimum": 1
                                    },
                                    "price": {
                                      "description": "The price components of this product or selection of products. 'base' and 'extra_charges' are returned only when explicitly requested (via 'extras=extra_charges').",
                                      "type": "object",
                                      "properties": {
                                        "base": {
                                          "description": "The base price. Does not include any extra charges.",
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "book": {
                                          "description": "The price that will be charged by Booking.com.",
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        },
                                        "extra_charges": {
                                          "description": "The charge breakdown. Includes taxes and fees.",
                                          "type": "object",
                                          "properties": {
                                            "excluded": {
                                              "description": "Charges not included in 'book'.",
                                              "type": "number",
                                              "format": "double",
                                              "minimum": 0
                                            },
                                            "included": {
                                              "description": "Charges included in 'book'.",
                                              "type": "number",
                                              "format": "double",
                                              "minimum": 0
                                            }
                                          }
                                        },
                                        "total": {
                                          "description": "The total price. Includes all extra charges.",
                                          "type": "number",
                                          "multipleOf": 0.01,
                                          "exclusiveMinimum": 0
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "url": {
                            "description": "Internet address for the property page on Booking.com.",
                            "type": "string",
                            "format": "url"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "request_id": "01fr9ez700exycb98w90w5r9sh",
                  "data": [
                    {
                      "id": 10004,
                      "currency": "EUR",
                      "deep_link_url": "booking://hotel/10004?affiliate_id=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!",
                      "products": [
                        {
                          "id": "1000420_358188572_2_0_0",
                          "deal": null,
                          "maximum_occupancy": {
                            "adults": 2,
                            "children": null,
                            "total": 2
                          },
                          "number_available": 3,
                          "policies": {
                            "cancellation": {
                              "free_cancellation_until": "!START_DATE-2!T00:00:00+00:00",
                              "type": "free_cancellation"
                            },
                            "meal_plan": {
                              "meals": [],
                              "plan": "no_plan"
                            },
                            "payment": {
                              "timings": [
                                "pay_at_the_property"
                              ]
                            }
                          },
                          "price": {
                            "base": 1189.63,
                            "book": 1385.97,
                            "extra_charges": {
                              "conditional": [],
                              "excluded": [],
                              "included": [
                                {
                                  "charge": 21,
                                  "mode": "percentage",
                                  "percentage": 9,
                                  "total_amount": 107.07,
                                  "unit_amount": null
                                },
                                {
                                  "charge": 22,
                                  "mode": "percentage",
                                  "percentage": 7,
                                  "total_amount": 83.27,
                                  "unit_amount": null
                                },
                                {
                                  "charge": 142,
                                  "mode": "per_person_per_night",
                                  "percentage": null,
                                  "total_amount": 6,
                                  "unit_amount": 3
                                }
                              ]
                            },
                            "total": 1385.97
                          },
                          "room": 1000420,
                          "third_party_inventory": true
                        },
                        "..."
                      ],
                      "recommendation": {
                        "price": {
                          "base": 1081.49,
                          "book": 1260.52,
                          "extra_charges": {
                            "excluded": 0,
                            "included": 179.04
                          },
                          "total": 1260.52
                        },
                        "products": [
                          {
                            "id": "1000420_95127794_2_0_0",
                            "children": [],
                            "number_of_adults": 2,
                            "price": {
                              "base": 1081.49,
                              "book": 1260.52,
                              "extra_charges": {
                                "excluded": 0,
                                "included": 179.04
                              },
                              "total": 1260.52
                            }
                          }
                        ]
                      },
                      "url": "https://www.booking.com/hotel/nl/toren.html?aid=!AFFILIATE_ID!&checkin=!START_DATE!&checkout=!END_DATE!&no_rooms=1&group_adults=2"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accommodations/chains": {
      "post": {
        "summary": "List accommodation chains",
        "description": "A chain-branded accommodation is one that is associated with a larger corporation group, and as such, operates under a recognized brand. The information returned can be used to filter accommodation searches based on particular chains or brands. An example of a chain is \"Radisson Hotel Group\". To get the full list call the endpoint passing an empty body. The codes returned are what is used as input and output for other endpoints.",
        "operationId": "/accommodations/chains",
        "parameters": [
          {
            "$ref": "#/components/parameters/AffiliateIdHeader"
          }
        ],
        "tags": [
          "accommodations"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Uniquely identifies the request. Please provide this identifier when contacting support.",
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Returns the internal code, name and list of associated brands for an accommodation chain.",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "A signed integer number that uniquely identifies an accommodation chain. Examples of chains are: Radisson Hotel Group, Hilton Worldwide etc. The full list can be obtained by calling [accommodations/chains](#/accommodations/chains).",
                            "type": "integer",
                            "minimum": 1
                          },
                          "brands": {
                            "description": "List of all the brands associated with this accommodation chain.",
                            "type": "array",
                            "items": {
                              "description": "Returns the internal code and name of an accommodation brand.",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "A signed integer number that uniquely identifies an accommodation brand. Examples of brands are: Radisson Blu, WestCord Hotels, Westin etc. The full list can be obtained by calling [accommodations/chains](#/accommodations/chains).",
                                  "type": "integer",
                                  "minimum": 1
                                },
                                "name": {
                                  "description": "Name of the accommodation brand.",
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "name": {
                            "description": "Name of the accommodation chain.",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "request_id": "01fr9ez700exycb98w90w5r9sh",
                  "data": [
                    {
                      "id": 3,
                      "brands": [
                        {
                          "id": 1018,
                          "name": "Campanile"
                        },
                        "..."
                      ],
                      "name": "Louvre Hotels Group"
                    },
                    "..."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accommodations/constants": {
      "post": {
        "summary": "List accommodation constants",
        "description": "This endpoint enumerates the internal codes and names, in the selected languages, for relevant accommodation specific types. These accommodation specific types include the list of facilities that may be available at a property like \"Elevator\" or \"Swimmingpool Outdoor\". For example, the following parameters will return the full list in English (US) and French: `{\"languages\":\"en-us\",\"fr\"}`. To get the full list call the endpoint passing an empty body. The codes returned are what is used as input and output for other endpoints in the accommodations namespace.",
        "operationId": "/accommodations/constants",
        "parameters": [
          {
            "$ref": "#/components/parameters/AffiliateIdHeader"
          }
        ],
        "tags": [
          "accommodations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "constants": {
                    "description": "Allows to filter the results only for specific sections.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "accommodation_facilities",
                        "accommodation_themes",
                        "accommodation_types",
                        "bed_types",
                        "charge_types",
                        "facility_types",
                        "review_scores",
                        "room_facilities",
                        "room_types"
                      ]
                    }
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "description": "An IETF language tag code that uniquely identifies a supported human language or dialect as described here: https://en.wikipedia.org/wiki/IETF_language_tag. Note that in v3 the whole tag is always lowercase. Examples: \"nl\" for Dutch/Nederlands or \"en-us\" for English (US). The full list can be obtained by calling [common/languages](#/common/languages).",
                      "type": "string",
                      "pattern": "^[a-z]{2}(-[a-z]{2})?$",
                      "example": "en-us"
                    },
                    "default": [
                      "en-gb"
                    ]
                  }
                }
              },
              "example": {
                "languages": [
                  "en-gb",
                  "zh-cn"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Uniquely identifies the request. Please provide this identifier when contacting support.",
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accommodation_facilities": {
                          "type": "array",
                          "items": {
                            "description": "A service, equipment or characteristic available at property level, like for example: \"Swimmingpool Outdoor\".",
                            "type": "object",
                            "properties": {
[...]
